#---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: kafka-credentials
# type: Opaque
# data:
#   client_password: PASSWORD
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
type: Opaque
stringData:
  user: {{ minio_key }}
  password:  {{ minio_secret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
type: Opaque
stringData:
  db.host: postgresql-db
  db.name: profileanalyzer
  db.user: profileanalyzer
  db.password: profileanalyzer
  db.port: '5432'
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-admin-credentials
type: Opaque
stringData:
  db.host: postgresql-db
  db.name: profileanalyzer
  db.user: profileanalyzer
  db.password: profileanalyzer
  db.port: '5432'  
---
apiVersion: v1
kind: Secret
metadata:
  name: oidc-walker
type: Opaque
stringData:
  client-secret: Q63OoMtjlc1alGzfcAP7ktgUzFbQFFmE