apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  labels:
    app: sso
  name: rhdh-realm-import
spec:
  keycloakCRName: keycloak
  realm:
    id: b593d6e7-8e02-4e70-b2ab-3518e7adcfef
    realm: "{{ rhdh_keycloak_realm }}"
    notBefore: 0
    defaultSignatureAlgorithm: RS256
    revokeRefreshToken: false
    refreshTokenMaxReuse: 0
    accessTokenLifespan: 300
    accessTokenLifespanForImplicitFlow: 900
    ssoSessionIdleTimeout: 1800
    ssoSessionMaxLifespan: 36000
    ssoSessionIdleTimeoutRememberMe: 0
    ssoSessionMaxLifespanRememberMe: 0
    offlineSessionIdleTimeout: 2592000
    offlineSessionMaxLifespanEnabled: false
    offlineSessionMaxLifespan: 5184000
    clientSessionIdleTimeout: 0
    clientSessionMaxLifespan: 0
    clientOfflineSessionIdleTimeout: 0
    clientOfflineSessionMaxLifespan: 0
    accessCodeLifespan: 60
    accessCodeLifespanUserAction: 300
    accessCodeLifespanLogin: 1800
    actionTokenGeneratedByAdminLifespan: 43200
    actionTokenGeneratedByUserLifespan: 300
    oauth2DeviceCodeLifespan: 600
    oauth2DevicePollingInterval: 5
    enabled: true
    sslRequired: external
    registrationAllowed: false
    registrationEmailAsUsername: false
    rememberMe: false
    verifyEmail: false
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    resetPasswordAllowed: false
    editUsernameAllowed: false
    bruteForceProtected: false
    permanentLockout: false
    maxTemporaryLockouts: 0
    maxFailureWaitSeconds: 900
    minimumQuickLoginWaitSeconds: 60
    waitIncrementSeconds: 60
    quickLoginCheckMilliSeconds: 1000
    maxDeltaTimeSeconds: 43200
    failureFactor: 30
    roles:
      realm:
        - id: e9a11d62-9e4e-4d7a-8ce4-564009728bb4
          name: default-roles-rhdh
          description: ${role_default-roles}
          composite: true
          composites:
            realm:
              - offline_access
              - uma_authorization
            client:
              account:
                - view-profile
                - manage-account
          clientRole: false
          containerId: b593d6e7-8e02-4e70-b2ab-3518e7adcfef
          attributes: {}
        - id: 4945d31f-af99-4f21-bec4-da21dc17a565
          name: offline_access
          description: ${role_offline-access}
          composite: false
          clientRole: false
          containerId: b593d6e7-8e02-4e70-b2ab-3518e7adcfef
          attributes: {}
        - id: 7e00c41c-ea90-441e-9b00-8d7e93783d80
          name: uma_authorization
          description: ${role_uma_authorization}
          composite: false
          clientRole: false
          containerId: b593d6e7-8e02-4e70-b2ab-3518e7adcfef
          attributes: {}
      client:
        realm-management:
          - id: 6c615761-28c3-47aa-88ac-8537facee15e
            name: query-clients
            description: ${role_query-clients}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 14308301-8360-4d33-ad7c-598251811c73
            name: manage-realm
            description: ${role_manage-realm}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 1689a16b-bcf5-4a50-a889-c8538747031e
            name: view-events
            description: ${role_view-events}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: baa48adc-6bbe-41a8-b79b-49443b3782cc
            name: manage-events
            description: ${role_manage-events}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 5b73180e-0962-49c6-afc1-a8741213ee87
            name: impersonation
            description: ${role_impersonation}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 75fe2c2a-3832-4921-ae7e-4af5657a89c7
            name: query-users
            description: ${role_query-users}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 06e4532a-df9f-4f56-b5c6-a273b400e271
            name: view-authorization
            description: ${role_view-authorization}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: cc73525a-4d9a-4426-a3a9-3c1f2b6d0db0
            name: realm-admin
            description: ${role_realm-admin}
            composite: true
            composites:
              client:
                realm-management:
                  - query-clients
                  - manage-realm
                  - view-events
                  - manage-events
                  - impersonation
                  - view-authorization
                  - query-users
                  - view-identity-providers
                  - query-groups
                  - view-clients
                  - manage-clients
                  - manage-authorization
                  - view-realm
                  - view-users
                  - manage-identity-providers
                  - create-client
                  - query-realms
                  - manage-users
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: a73a8272-0e15-434a-912b-2e6139859524
            name: view-identity-providers
            description: ${role_view-identity-providers}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 73f4cf1f-b102-4416-bfee-bbfabfaeed1f
            name: query-groups
            description: ${role_query-groups}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 9ea22608-be73-419d-9b3e-3ceb4fde5afb
            name: manage-clients
            description: ${role_manage-clients}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: a0d81a9b-91b6-4c49-872b-6e19ba4b0692
            name: view-clients
            description: ${role_view-clients}
            composite: true
            composites:
              client:
                realm-management:
                  - query-clients
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: ecbb6bc8-7eb0-49a5-a9b8-844c28897a5f
            name: manage-authorization
            description: ${role_manage-authorization}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: b12b01d0-7806-47ce-b41f-331b45399e70
            name: view-realm
            description: ${role_view-realm}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 6a0b04b8-b14f-4d39-894b-06a2204b4a47
            name: manage-identity-providers
            description: ${role_manage-identity-providers}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 420ed71d-0ac0-4536-9124-949a56362daf
            name: view-users
            description: ${role_view-users}
            composite: true
            composites:
              client:
                realm-management:
                  - query-groups
                  - query-users
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: b9fa610e-fe13-486c-9e00-cf4177f32a25
            name: create-client
            description: ${role_create-client}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 4efcf740-c53a-49d7-8f52-4a2872622f81
            name: query-realms
            description: ${role_query-realms}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
          - id: 1b45b41c-ee46-489f-8875-4a8e1d2b0fd5
            name: manage-users
            description: ${role_manage-users}
            composite: false
            clientRole: true
            containerId: d6bc41b0-c7c4-4177-8945-70f0c033282e
            attributes: {}
        security-admin-console: []
        admin-cli: []
        account-console: []
        broker:
          - id: 0ba85300-ce90-4b9b-af76-51ffa45ddc59
            name: read-token
            description: ${role_read-token}
            composite: false
            clientRole: true
            containerId: 7b5e064b-247e-4824-8cce-0c1309fa56b3
            attributes: {}
        account:
          - id: f7ca2454-77fc-44a2-96c9-8e541c912d35
            name: view-groups
            description: ${role_view-groups}
            composite: false
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: cf302c1d-bdb8-4d1d-8d79-367d6d511c67
            name: view-profile
            description: ${role_view-profile}
            composite: false
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: a218e1d1-2f33-4222-9d91-ec90f1651de6
            name: view-applications
            description: ${role_view-applications}
            composite: false
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: 3ca75b0f-a373-4fa1-898c-7357f5669498
            name: delete-account
            description: ${role_delete-account}
            composite: false
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: 53c6746c-36e9-4a54-b4a5-834431022b5d
            name: manage-account-links
            description: ${role_manage-account-links}
            composite: false
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: bd57aac4-62a3-45f3-be7f-eb4bd349dd7e
            name: manage-account
            description: ${role_manage-account}
            composite: true
            composites:
              client:
                account:
                  - manage-account-links
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: 57d4e4af-de90-40d3-a22d-d2aa70794271
            name: manage-consent
            description: ${role_manage-consent}
            composite: true
            composites:
              client:
                account:
                  - view-consent
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
          - id: 5f220ab9-6cb8-4f6e-a314-bbe5e04059fa
            name: view-consent
            description: ${role_view-consent}
            composite: false
            clientRole: true
            containerId: d127d52f-fc46-4253-ac4c-c989f9065209
            attributes: {}
        rhdh:
          - id: 8380c54d-5528-40fd-b2eb-f969b49fa097
            name: uma_protection
            composite: false
            clientRole: true
            containerId: 89b0c136-b48d-4e1c-818e-3f3fd2ef4686
            attributes: {}
    groups: []
    defaultRole:
      id: e9a11d62-9e4e-4d7a-8ce4-564009728bb4
      name: default-roles-rhdh
      description: ${role_default-roles}
      composite: true
      clientRole: false
      containerId: b593d6e7-8e02-4e70-b2ab-3518e7adcfef
    requiredCredentials:
      - password
    otpPolicyType: totp
    otpPolicyAlgorithm: HmacSHA1
    otpPolicyInitialCounter: 0
    otpPolicyDigits: 6
    otpPolicyLookAheadWindow: 1
    otpPolicyPeriod: 30
    otpPolicyCodeReusable: false
    otpSupportedApplications:
      - totpAppFreeOTPName
      - totpAppGoogleName
      - totpAppMicrosoftAuthenticatorName
    localizationTexts: {}
    webAuthnPolicyRpEntityName: keycloak
    webAuthnPolicySignatureAlgorithms:
      - ES256
    webAuthnPolicyRpId: ""
    webAuthnPolicyAttestationConveyancePreference: not specified
    webAuthnPolicyAuthenticatorAttachment: not specified
    webAuthnPolicyRequireResidentKey: not specified
    webAuthnPolicyUserVerificationRequirement: not specified
    webAuthnPolicyCreateTimeout: 0
    webAuthnPolicyAvoidSameAuthenticatorRegister: false
    webAuthnPolicyAcceptableAaguids: []
    webAuthnPolicyExtraOrigins: []
    webAuthnPolicyPasswordlessRpEntityName: keycloak
    webAuthnPolicyPasswordlessSignatureAlgorithms:
      - ES256
    webAuthnPolicyPasswordlessRpId: ""
    webAuthnPolicyPasswordlessAttestationConveyancePreference: not specified
    webAuthnPolicyPasswordlessAuthenticatorAttachment: not specified
    webAuthnPolicyPasswordlessRequireResidentKey: not specified
    webAuthnPolicyPasswordlessUserVerificationRequirement: not specified
    webAuthnPolicyPasswordlessCreateTimeout: 0
    webAuthnPolicyPasswordlessAvoidSameAuthenticatorRegister: false
    webAuthnPolicyPasswordlessAcceptableAaguids: []
    webAuthnPolicyPasswordlessExtraOrigins: []
    users:
      - username: {{ keycloak_user_username }}
        firstName: Admin
        lastName: Tester
        email: {{ keycloak_user_username }}@demo.com
        emailVerified: true
        enabled: true
        credentials:
          - type: password
            userLabel: My Password
            value: {{ keycloak_user_password }}
            temporary: false
        totp: false
        disableableCredentialTypes: []
        requiredActions: []
        notBefore: 0
        access:
          manageGroupMembership: true
          view: true
          mapRoles: true
          impersonate: true
          manage: true    
      - id: 2db4cd75-47cf-4e73-8d86-48e450cdcd42
        username: service-account-rhdh
        emailVerified: true
        createdTimestamp: 1725456845261
        enabled: true
        totp: false
        serviceAccountClientId: rhdh
        disableableCredentialTypes: []
        requiredActions: []
        realmRoles:
          - default-roles-rhdh
        clientRoles:
          realm-management:
            - query-groups
            - query-users
            - view-users
          rhdh:
            - uma_protection
        notBefore: 0
        groups: []
    scopeMappings:
      - clientScope: offline_access
        roles:
          - offline_access
    clientScopeMappings:
      account:
        - client: account-console
          roles:
            - manage-account
            - view-groups
    clients:
      - id: d127d52f-fc46-4253-ac4c-c989f9065209
        clientId: account
        name: ${client_account}
        rootUrl: ${authBaseUrl}
        baseUrl: /realms/rhdh/account/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /realms/rhdh/account/*
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 076bea00-def4-46fc-90c8-759f27274660
        clientId: account-console
        name: ${client_account-console}
        rootUrl: ${authBaseUrl}
        baseUrl: /realms/rhdh/account/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /realms/rhdh/account/*
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
          pkce.code.challenge.method: S256
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        protocolMappers:
          - id: 35505b26-d745-4227-8089-410fe28ea9af
            name: audience resolve
            protocol: openid-connect
            protocolMapper: oidc-audience-resolve-mapper
            consentRequired: false
            config: {}
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 528cf75d-3064-4aa2-99ef-2b040b5eb7a0
        clientId: admin-cli
        name: ${client_admin-cli}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: false
        implicitFlowEnabled: false
        directAccessGrantsEnabled: true
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes: {}
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 7b5e064b-247e-4824-8cce-0c1309fa56b3
        clientId: broker
        name: ${client_broker}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: true
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: false
        frontchannelLogout: false
        protocol: openid-connect
        attributes: {}
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: d6bc41b0-c7c4-4177-8945-70f0c033282e
        clientId: realm-management
        name: ${client_realm-management}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: true
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: false
        frontchannelLogout: false
        protocol: openid-connect
        attributes: {}
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 89b0c136-b48d-4e1c-818e-3f3fd2ef4686
        clientId: rhdh
        name: ""
        description: ""
        rootUrl: ""
        adminUrl: ""
        baseUrl: ""
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        secret: "{{ rhdh_keycloak_client_secret }}"
        redirectUris:
          - "*"
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: true
        serviceAccountsEnabled: true
        authorizationServicesEnabled: true
        publicClient: false
        frontchannelLogout: true
        protocol: openid-connect
        attributes:
          oidc.ciba.grant.enabled: "false"
          client.secret.creation.time: "1725456776"
          backchannel.logout.session.required: "true"
          display.on.consent.screen: "false"
          oauth2.device.authorization.grant.enabled: "false"
          backchannel.logout.revoke.offline.tokens: "false"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: -1
        protocolMappers:
          - id: 182cb46f-40bb-4db1-b841-8859e5c2d4bf
            name: Client ID
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: client_id
              introspection.token.claim: "true"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: client_id
              jsonType.label: String
          - id: 7bb5830d-8bf4-4463-a3cf-873cdf3cf1ca
            name: Client Host
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: clientHost
              introspection.token.claim: "true"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: clientHost
              jsonType.label: String
          - id: 46341d2d-7a51-4dec-8516-980ede239b49
            name: Client IP Address
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: clientAddress
              introspection.token.claim: "true"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: clientAddress
              jsonType.label: String
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: e3e9b647-e9c1-40d0-a144-54d3c1bda50b
        clientId: security-admin-console
        name: ${client_security-admin-console}
        rootUrl: ${authAdminUrl}
        baseUrl: /admin/rhdh/console/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /admin/rhdh/console/*
        webOrigins:
          - +
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
          pkce.code.challenge.method: S256
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        protocolMappers:
          - id: 7d39256d-3438-4ced-91d8-12baf478a1c8
            name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: locale
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: locale
              jsonType.label: String
        defaultClientScopes:
          - web-origins
          - acr
          - roles
          - profile
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
    clientScopes:
      - id: cd7459ee-1ee8-46c9-941b-76f72814a05e
        name: phone
        description: "OpenID Connect built-in scope: phone"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${phoneScopeConsentText}
        protocolMappers:
          - id: 8484738c-c34e-4fe2-9cc4-0b5c69eb534c
            name: phone number
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: phoneNumber
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: phone_number
              jsonType.label: String
          - id: 9452f195-6b3c-47fe-b038-59ca3602a6f3
            name: phone number verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: phoneNumberVerified
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: phone_number_verified
              jsonType.label: boolean
      - id: 1dcee2c9-9c0c-4502-8f3c-626803419e44
        name: role_list
        description: SAML role list
        protocol: saml
        attributes:
          consent.screen.text: ${samlRoleListScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: fe03e0e9-21de-403f-9eb7-d5ff75aee55d
            name: role list
            protocol: saml
            protocolMapper: saml-role-list-mapper
            consentRequired: false
            config:
              single: "false"
              attribute.nameformat: Basic
              attribute.name: Role
      - id: 3db200f3-4441-4d36-ab31-93f0837acca8
        name: acr
        description: OpenID Connect scope for add acr (authentication context class
          reference) to the token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: 5512a799-d320-4a1b-86d5-40bfbd4b01bd
            name: acr loa level
            protocol: openid-connect
            protocolMapper: oidc-acr-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
      - id: 7ca1271c-1007-4570-8d9b-480b4c8dd18c
        name: roles
        description: OpenID Connect scope for add user roles to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "true"
          consent.screen.text: ${rolesScopeConsentText}
        protocolMappers:
          - id: 5a896a84-2e03-4cf3-9477-70d7ec160bbc
            name: audience resolve
            protocol: openid-connect
            protocolMapper: oidc-audience-resolve-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              access.token.claim: "true"
          - id: 057b6288-4e69-40bd-9661-2717c7384994
            name: realm roles
            protocol: openid-connect
            protocolMapper: oidc-usermodel-realm-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              user.attribute: foo
              access.token.claim: "true"
              claim.name: realm_access.roles
              jsonType.label: String
          - id: 8a3d1ebb-c7e7-4103-ba56-6faab7f9a57b
            name: client roles
            protocol: openid-connect
            protocolMapper: oidc-usermodel-client-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              user.attribute: foo
              access.token.claim: "true"
              claim.name: resource_access.${client_id}.roles
              jsonType.label: String
      - id: cc99eae7-22c1-4ab8-85f8-efed05552e87
        name: profile
        description: "OpenID Connect built-in scope: profile"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${profileScopeConsentText}
        protocolMappers:
          - id: a394ea97-e626-45c3-b673-f634392555f1
            name: gender
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: gender
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: gender
              jsonType.label: String
          - id: a78db917-9b9c-4926-8ad9-a69372d1a55b
            name: given name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: firstName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: given_name
              jsonType.label: String
          - id: b2f00a17-d897-480d-bddc-70d88829f27b
            name: nickname
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: nickname
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: nickname
              jsonType.label: String
          - id: eb962474-9f5f-4fbd-96d4-c43ed1487dba
            name: profile
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: profile
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: profile
              jsonType.label: String
          - id: 367f1af5-1dbf-460d-93d1-fd792df1a722
            name: full name
            protocol: openid-connect
            protocolMapper: oidc-full-name-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - id: 5e071355-107d-423d-9823-ba72a3359f41
            name: zoneinfo
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: zoneinfo
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: zoneinfo
              jsonType.label: String
          - id: b45349e1-1b5b-4fe8-944f-ae40d6a6cf13
            name: birthdate
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: birthdate
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: birthdate
              jsonType.label: String
          - id: 23db0738-c759-4d17-a307-1416880009d0
            name: website
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: website
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: website
              jsonType.label: String
          - id: ab3c65f8-843e-406a-a8bc-afa45e2d5fd4
            name: updated at
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: updatedAt
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: updated_at
              jsonType.label: long
          - id: a37555c3-5e1c-4b22-8ee8-0b1c0f315232
            name: middle name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: middleName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: middle_name
              jsonType.label: String
          - id: 3eaaabfc-e9ad-4257-8b8f-9cca878d2c29
            name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: locale
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: locale
              jsonType.label: String
          - id: 173a7bdd-28ce-4eab-8098-b7a5d49d467d
            name: family name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: lastName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: family_name
              jsonType.label: String
          - id: d836dda2-ba6a-467b-a26d-7fa31bd329da
            name: picture
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: picture
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: picture
              jsonType.label: String
          - id: c57dc619-ad4a-49dc-93b3-007094316361
            name: username
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: username
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: preferred_username
              jsonType.label: String
      - id: d4ff0c1a-efe6-486a-92d2-81e9d218b2f5
        name: microprofile-jwt
        description: Microprofile - JWT built-in scope
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: 6f154415-7405-4c7c-b46f-16eac0f7246d
            name: upn
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: username
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: upn
              jsonType.label: String
          - id: 7208e472-7982-4993-9c8b-eaeee906a021
            name: groups
            protocol: openid-connect
            protocolMapper: oidc-usermodel-realm-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              user.attribute: foo
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: groups
              jsonType.label: String
      - id: 3dd9170a-6c77-4d25-9b94-853609bc999d
        name: address
        description: "OpenID Connect built-in scope: address"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${addressScopeConsentText}
        protocolMappers:
          - id: 8464959f-9a74-493a-afce-23b54b77a547
            name: address
            protocol: openid-connect
            protocolMapper: oidc-address-mapper
            consentRequired: false
            config:
              user.attribute.formatted: formatted
              user.attribute.country: country
              introspection.token.claim: "true"
              user.attribute.postal_code: postal_code
              userinfo.token.claim: "true"
              user.attribute.street: street
              id.token.claim: "true"
              user.attribute.region: region
              access.token.claim: "true"
              user.attribute.locality: locality
      - id: b929f52a-8958-4c1e-811c-035b833f4eb1
        name: web-origins
        description: OpenID Connect scope for add allowed web origins to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
          consent.screen.text: ""
        protocolMappers:
          - id: 25ef8a59-ea2d-4bc3-92cd-fc5b80f24ed9
            name: allowed web origins
            protocol: openid-connect
            protocolMapper: oidc-allowed-origins-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              access.token.claim: "true"
      - id: b1d1c822-5adb-4ced-83c7-ac70afc54eff
        name: offline_access
        description: "OpenID Connect built-in scope: offline_access"
        protocol: openid-connect
        attributes:
          consent.screen.text: ${offlineAccessScopeConsentText}
          display.on.consent.screen: "true"
      - id: 58eb76a9-c160-4f5e-ae02-56a08a092464
        name: email
        description: "OpenID Connect built-in scope: email"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${emailScopeConsentText}
        protocolMappers:
          - id: b4116a33-fecc-41e7-8abc-9dc699c779e7
            name: email
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: email
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: email
              jsonType.label: String
          - id: a543656f-f148-45a0-a63c-ccf4c37c6f02
            name: email verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: emailVerified
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: email_verified
              jsonType.label: boolean
    defaultDefaultClientScopes:
      - role_list
      - profile
      - email
      - roles
      - web-origins
      - acr
    defaultOptionalClientScopes:
      - offline_access
      - address
      - phone
      - microprofile-jwt
    browserSecurityHeaders:
      contentSecurityPolicyReportOnly: ""
      xContentTypeOptions: nosniff
      referrerPolicy: no-referrer
      xRobotsTag: none
      xFrameOptions: SAMEORIGIN
      contentSecurityPolicy: frame-src 'self'; frame-ancestors 'self'; object-src 'none';
      xXSSProtection: 1; mode=block
      strictTransportSecurity: max-age=31536000; includeSubDomains
    smtpServer: {}
    eventsEnabled: false
    eventsListeners:
      - jboss-logging
    enabledEventTypes: []
    adminEventsEnabled: false
    adminEventsDetailsEnabled: false
    identityProviders: []
    identityProviderMappers: []
    components:
      org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy:
        - id: 73eb84a2-db41-4cc4-9de6-a26251f7fe47
          name: Allowed Protocol Mapper Types
          providerId: allowed-protocol-mappers
          subType: anonymous
          subComponents: {}
          config:
            allowed-protocol-mapper-types:
              - saml-role-list-mapper
              - saml-user-property-mapper
              - oidc-sha256-pairwise-sub-mapper
              - oidc-full-name-mapper
              - oidc-usermodel-attribute-mapper
              - oidc-usermodel-property-mapper
              - saml-user-attribute-mapper
              - oidc-address-mapper
        - id: 47de825d-f8be-4ac8-ba3d-f39d7a57ac87
          name: Allowed Client Scopes
          providerId: allowed-client-templates
          subType: authenticated
          subComponents: {}
          config:
            allow-default-scopes:
              - "true"
        - id: 95ea7bf2-41d6-4cdb-a678-8f3ddc8678d2
          name: Allowed Client Scopes
          providerId: allowed-client-templates
          subType: anonymous
          subComponents: {}
          config:
            allow-default-scopes:
              - "true"
        - id: 1f05ab60-b141-4d7d-afb2-59883c1b1fbd
          name: Consent Required
          providerId: consent-required
          subType: anonymous
          subComponents: {}
          config: {}
        - id: c4802753-cb7c-4069-8133-be9153df4fb5
          name: Trusted Hosts
          providerId: trusted-hosts
          subType: anonymous
          subComponents: {}
          config:
            host-sending-registration-request-must-match:
              - "true"
            client-uris-must-match:
              - "true"
        - id: 4f3cb772-0ccf-4449-8d2c-d38a617ee60e
          name: Max Clients Limit
          providerId: max-clients
          subType: anonymous
          subComponents: {}
          config:
            max-clients:
              - "200"
        - id: 5650e116-92ec-4a15-9da3-d0b2ef734bb5
          name: Full Scope Disabled
          providerId: scope
          subType: anonymous
          subComponents: {}
          config: {}
        - id: 6726b67f-f74d-4816-a1e7-925bbe7bc7ff
          name: Allowed Protocol Mapper Types
          providerId: allowed-protocol-mappers
          subType: authenticated
          subComponents: {}
          config:
            allowed-protocol-mapper-types:
              - oidc-full-name-mapper
              - oidc-sha256-pairwise-sub-mapper
              - oidc-usermodel-property-mapper
              - saml-user-property-mapper
              - saml-user-attribute-mapper
              - oidc-usermodel-attribute-mapper
              - saml-role-list-mapper
              - oidc-address-mapper
      org.keycloak.keys.KeyProvider:
        - id: e70f4038-3c76-47f3-99a7-b854fca1ae38
          name: rsa-enc-generated
          providerId: rsa-enc-generated
          subComponents: {}
          config:
            priority:
              - "100"
            algorithm:
              - RSA-OAEP
        - id: d62dd773-8bae-4144-a4cf-2710390dad1b
          name: hmac-generated-hs512
          providerId: hmac-generated
          subComponents: {}
          config:
            priority:
              - "100"
            algorithm:
              - HS512
        - id: 13256b51-4e09-42d2-9dbb-afe6a585f8c9
          name: rsa-generated
          providerId: rsa-generated
          subComponents: {}
          config:
            priority:
              - "100"
        - id: a545ac72-c9b8-42ec-8bf0-b32bc3de46b6
          name: aes-generated
          providerId: aes-generated
          subComponents: {}
          config:
            priority:
              - "100"
    internationalizationEnabled: false
    supportedLocales: []
    authenticationFlows:
      - id: 6a315001-19f2-4b3e-9add-24975eaf061a
        alias: Account verification options
        description: Method with which to verity the existing account
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-email-verification
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: true
            flowAlias: Verify Existing Account by Re-authentication
            userSetupAllowed: false
      - id: 43f0e5b5-f968-4428-adde-a4edd01c7b32
        alias: Browser - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-otp-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: d36fdd6a-aa01-46bc-8a52-ac3f08fb74f5
        alias: Direct Grant - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: direct-grant-validate-otp
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 2083a937-7fb1-4ef6-9d01-2a6b0f5e4ce2
        alias: First broker login - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-otp-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 89ca2b21-7d66-4fae-a99c-55fe28e8589b
        alias: Handle Existing Account
        description: Handle what to do if there is existing account with same
          email/username like authenticated identity provider
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-confirm-link
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: true
            flowAlias: Account verification options
            userSetupAllowed: false
      - id: 5741e9ed-dca4-41cc-9e8e-dfef9ee5857b
        alias: Reset - Conditional OTP
        description: Flow to determine if the OTP should be reset or not. Set to
          REQUIRED to force.
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-otp
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 91818f44-7465-44b6-b660-4f9f8118f8f6
        alias: User creation or linking
        description: Flow for the existing/non-existing user alternatives
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticatorConfig: create unique user config
            authenticator: idp-create-user-if-unique
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: true
            flowAlias: Handle Existing Account
            userSetupAllowed: false
      - id: baa12917-4fc2-4347-ad02-6a8ddea6f4b5
        alias: Verify Existing Account by Re-authentication
        description: Reauthentication of existing account
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-username-password-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 20
            autheticatorFlow: true
            flowAlias: First broker login - Conditional OTP
            userSetupAllowed: false
      - id: f1344fc5-f34f-491a-879b-7ae856f2e829
        alias: browser
        description: browser based authentication
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: auth-cookie
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-spnego
            authenticatorFlow: false
            requirement: DISABLED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: identity-provider-redirector
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 25
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 30
            autheticatorFlow: true
            flowAlias: forms
            userSetupAllowed: false
      - id: 263cf568-f9bf-4e31-bdfe-3273b3162c9e
        alias: clients
        description: Base authentication for clients
        providerId: client-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: client-secret
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-jwt
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-secret-jwt
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 30
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-x509
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 40
            autheticatorFlow: false
            userSetupAllowed: false
      - id: e1560aac-5da0-4632-bce4-f7b6cc7b0dd6
        alias: direct grant
        description: OpenID Connect Resource Owner Grant
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: direct-grant-validate-username
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: direct-grant-validate-password
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 30
            autheticatorFlow: true
            flowAlias: Direct Grant - Conditional OTP
            userSetupAllowed: false
      - id: dd91330d-ccbd-4ccc-83b2-d0feeea28460
        alias: docker auth
        description: Used by Docker clients to authenticate against the IDP
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: docker-http-basic-authenticator
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
      - id: c69f15b8-4032-4be4-a7f4-c80747e15105
        alias: first broker login
        description: Actions taken after first broker login with identity provider
          account, which is not yet linked to any Keycloak account
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticatorConfig: review profile config
            authenticator: idp-review-profile
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: true
            flowAlias: User creation or linking
            userSetupAllowed: false
      - id: 2a7c063b-c1a2-4f1b-af2d-3671657c9ef1
        alias: forms
        description: Username, password, otp and other auth forms.
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: auth-username-password-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 20
            autheticatorFlow: true
            flowAlias: Browser - Conditional OTP
            userSetupAllowed: false
      - id: 44b15e73-ca3c-4c7e-997f-1dfac53e9eae
        alias: registration
        description: registration flow
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: registration-page-form
            authenticatorFlow: true
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: true
            flowAlias: registration form
            userSetupAllowed: false
      - id: c35537c9-1cea-4944-880a-c03106a12e3e
        alias: registration form
        description: registration form
        providerId: form-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: registration-user-creation
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-password-action
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 50
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-recaptcha-action
            authenticatorFlow: false
            requirement: DISABLED
            priority: 60
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-terms-and-conditions
            authenticatorFlow: false
            requirement: DISABLED
            priority: 70
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 86ca98ef-a048-4b5f-95b1-8c4ba5e21cdc
        alias: reset credentials
        description: Reset credentials for a user if they forgot their password or something
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: reset-credentials-choose-user
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-credential-email
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-password
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 30
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 40
            autheticatorFlow: true
            flowAlias: Reset - Conditional OTP
            userSetupAllowed: false
      - id: 87788e3f-6863-4dc8-95a6-90f0d7d056eb
        alias: saml ecp
        description: SAML ECP Profile Authentication Flow
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: http-basic-authenticator
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
    authenticatorConfig:
      - id: 86b6b32d-f807-42e2-ba38-8ce78461dde6
        alias: create unique user config
        config:
          require.password.update.after.registration: "false"
      - id: dde2ef23-27ca-4b8e-a3db-3113a7549101
        alias: review profile config
        config:
          update.profile.on.first.login: missing
    requiredActions:
      - alias: CONFIGURE_TOTP
        name: Configure OTP
        providerId: CONFIGURE_TOTP
        enabled: true
        defaultAction: false
        priority: 10
        config: {}
      - alias: TERMS_AND_CONDITIONS
        name: Terms and Conditions
        providerId: TERMS_AND_CONDITIONS
        enabled: false
        defaultAction: false
        priority: 20
        config: {}
      - alias: UPDATE_PASSWORD
        name: Update Password
        providerId: UPDATE_PASSWORD
        enabled: true
        defaultAction: false
        priority: 30
        config: {}
      - alias: UPDATE_PROFILE
        name: Update Profile
        providerId: UPDATE_PROFILE
        enabled: true
        defaultAction: false
        priority: 40
        config: {}
      - alias: VERIFY_EMAIL
        name: Verify Email
        providerId: VERIFY_EMAIL
        enabled: true
        defaultAction: false
        priority: 50
        config: {}
      - alias: delete_account
        name: Delete Account
        providerId: delete_account
        enabled: false
        defaultAction: false
        priority: 60
        config: {}
      - alias: webauthn-register
        name: Webauthn Register
        providerId: webauthn-register
        enabled: true
        defaultAction: false
        priority: 70
        config: {}
      - alias: webauthn-register-passwordless
        name: Webauthn Register Passwordless
        providerId: webauthn-register-passwordless
        enabled: true
        defaultAction: false
        priority: 80
        config: {}
      - alias: VERIFY_PROFILE
        name: Verify Profile
        providerId: VERIFY_PROFILE
        enabled: true
        defaultAction: false
        priority: 90
        config: {}
      - alias: delete_credential
        name: Delete Credential
        providerId: delete_credential
        enabled: true
        defaultAction: false
        priority: 100
        config: {}
      - alias: update_user_locale
        name: Update User Locale
        providerId: update_user_locale
        enabled: true
        defaultAction: false
        priority: 1000
        config: {}
    browserFlow: browser
    registrationFlow: registration
    directGrantFlow: direct grant
    resetCredentialsFlow: reset credentials
    clientAuthenticationFlow: clients
    dockerAuthenticationFlow: docker auth
    firstBrokerLoginFlow: first broker login
    attributes:
      cibaBackchannelTokenDeliveryMode: poll
      cibaExpiresIn: "120"
      cibaAuthRequestedUserHint: login_hint
      oauth2DeviceCodeLifespan: "600"
      oauth2DevicePollingInterval: "5"
      parRequestUriLifespan: "60"
      cibaInterval: "5"
      realmReusableOtpCode: "false"
    keycloakVersion: 24.0.6.redhat-00001
    userManagedAccessAllowed: false
    clientProfiles:
      profiles: []
    clientPolicies:
      policies: []
