apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  labels:
    app: sso
  name: tas-realm-import
spec:
  keycloakCRName: keycloak
  realm:
    id: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
    realm: "{{ keycloak_tas_realm_name }}"
    notBefore: 0
    defaultSignatureAlgorithm: RS256
    revokeRefreshToken: false
    refreshTokenMaxReuse: 0
    accessTokenLifespan: 300
    accessTokenLifespanForImplicitFlow: 900
    ssoSessionIdleTimeout: 1800
    ssoSessionMaxLifespan: 36000
    ssoSessionIdleTimeoutRememberMe: 0
    ssoSessionMaxLifespanRememberMe: 0
    offlineSessionIdleTimeout: 2592000
    offlineSessionMaxLifespanEnabled: false
    offlineSessionMaxLifespan: 5184000
    clientSessionIdleTimeout: 0
    clientSessionMaxLifespan: 0
    clientOfflineSessionIdleTimeout: 0
    clientOfflineSessionMaxLifespan: 0
    accessCodeLifespan: 60
    accessCodeLifespanUserAction: 300
    accessCodeLifespanLogin: 1800
    actionTokenGeneratedByAdminLifespan: 43200
    actionTokenGeneratedByUserLifespan: 300
    oauth2DeviceCodeLifespan: 600
    oauth2DevicePollingInterval: 5
    enabled: true
    sslRequired: external
    registrationAllowed: false
    registrationEmailAsUsername: false
    rememberMe: false
    verifyEmail: false
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    resetPasswordAllowed: false
    editUsernameAllowed: false
    bruteForceProtected: false
    permanentLockout: false
    maxTemporaryLockouts: 0
    maxFailureWaitSeconds: 900
    minimumQuickLoginWaitSeconds: 60
    waitIncrementSeconds: 60
    quickLoginCheckMilliSeconds: 1000
    maxDeltaTimeSeconds: 43200
    failureFactor: 30
    roles:
      realm:
        - id: 083d755c-bfcd-4fdc-a88e-11f0b5e3caa3
          name: offline_access
          description: ${role_offline-access}
          composite: false
          clientRole: false
          containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
          attributes: {}
        - id: 0d1b0a97-e281-4ed9-9019-987f712495c0
          name: chicken-manager
          description: ""
          composite: false
          clientRole: false
          containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
          attributes: {}
        - id: 4b873bb8-8808-469e-8997-48c6c3df2d19
          name: uma_authorization
          description: ${role_uma_authorization}
          composite: false
          clientRole: false
          containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
          attributes: {}
        - id: 0fa3fbc0-8409-487f-83ad-1e99175919b3
          name: trusted-artifact-signer-admin
          description: ""
          composite: false
          clientRole: false
          containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
          attributes: {}
        - id: 22b92d7e-90df-48ab-a025-621069627e0e
          name: chicken-admin
          description: ""
          composite: false
          clientRole: false
          containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
          attributes: {}
        - id: 14658268-0430-4c04-9391-527f48140791
          name: default-roles-trusted-artifact-signer
          description: ${role_default-roles}
          composite: true
          composites:
            realm:
              - offline_access
              - uma_authorization
            client:
              account:
                - manage-account
                - view-profile
          clientRole: false
          containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
          attributes: {}
      client:
        realm-management:
          - id: 5ce2db24-50f5-47e6-8ad4-5089a1ee0d59
            name: manage-users
            description: ${role_manage-users}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: a2874fe3-8bfe-4e39-95b9-cb271bf11363
            name: query-users
            description: ${role_query-users}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: f9623bd2-a739-4b44-80d9-b7007055bed8
            name: view-identity-providers
            description: ${role_view-identity-providers}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 5027eb27-736c-4830-871f-614d5a3cc403
            name: manage-authorization
            description: ${role_manage-authorization}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: a40c76d1-5f04-4fff-beb3-2a7e5ffb720e
            name: manage-clients
            description: ${role_manage-clients}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 389d7594-1980-4080-800f-7f094dd7ef41
            name: impersonation
            description: ${role_impersonation}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 3c827472-5220-4858-960b-4d82f9fd0f08
            name: manage-realm
            description: ${role_manage-realm}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: e98966a8-74ef-4262-8293-e09863a41fc4
            name: manage-events
            description: ${role_manage-events}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: c57e5354-4436-4535-a407-cf992124c50f
            name: query-realms
            description: ${role_query-realms}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: ef84f2f9-67b3-48e6-9dd3-70857b44c278
            name: manage-identity-providers
            description: ${role_manage-identity-providers}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 27f63658-895c-46e5-ae34-fc0d770969a1
            name: view-users
            description: ${role_view-users}
            composite: true
            composites:
              client:
                realm-management:
                  - query-users
                  - query-groups
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 94b081d2-c5da-4f2c-be96-bc9a554092a8
            name: query-clients
            description: ${role_query-clients}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 7308c7d8-10c9-45bf-bde3-ac859ba3ea80
            name: create-client
            description: ${role_create-client}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 702706b3-82b4-44dd-a358-3a620cfcc784
            name: view-authorization
            description: ${role_view-authorization}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 1757d81a-5873-409f-b59e-1e7609b4224b
            name: view-clients
            description: ${role_view-clients}
            composite: true
            composites:
              client:
                realm-management:
                  - query-clients
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 8c09a50d-2a34-4ae8-94b0-7c603f98039e
            name: view-realm
            description: ${role_view-realm}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 3d0540e2-f96b-435c-8318-112c3bfb1847
            name: realm-admin
            description: ${role_realm-admin}
            composite: true
            composites:
              client:
                realm-management:
                  - manage-users
                  - query-users
                  - view-identity-providers
                  - manage-authorization
                  - manage-clients
                  - impersonation
                  - manage-realm
                  - manage-events
                  - query-realms
                  - manage-identity-providers
                  - view-users
                  - query-clients
                  - create-client
                  - view-authorization
                  - view-clients
                  - view-realm
                  - query-groups
                  - view-events
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: fce5c503-0fe2-46ea-84e2-16729f7461d0
            name: query-groups
            description: ${role_query-groups}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
          - id: 4f523635-d6eb-471e-94a2-eb6380ce151c
            name: view-events
            description: ${role_view-events}
            composite: false
            clientRole: true
            containerId: e7000544-717f-4f57-96f1-a8241c454095
            attributes: {}
        security-admin-console: []
        admin-cli: []
        trusted-artifact-signer: []
        account-console: []
        broker:
          - id: 2c952063-7c3f-4c7b-bcdd-260b835b605f
            name: read-token
            description: ${role_read-token}
            composite: false
            clientRole: true
            containerId: 3c42518b-2b76-402f-9676-eafa75bed021
            attributes: {}
        walker: []
        account:
          - id: 577cb7ad-71df-4a82-bab2-329c9a2b3d64
            name: manage-account
            description: ${role_manage-account}
            composite: true
            composites:
              client:
                account:
                  - manage-account-links
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: 3a595dc9-5379-4298-94e4-f15c854d7a31
            name: manage-consent
            description: ${role_manage-consent}
            composite: true
            composites:
              client:
                account:
                  - view-consent
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: f63635c0-a686-4e5a-ac3e-62edc7bd0b14
            name: delete-account
            description: ${role_delete-account}
            composite: false
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: fd2e2d05-3114-4bd0-b2de-d1396746c045
            name: view-groups
            description: ${role_view-groups}
            composite: false
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: 6e603f32-ac76-4cfe-b3a9-174fad302ec2
            name: view-profile
            description: ${role_view-profile}
            composite: false
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: 2e5b529b-8b2b-4afe-8480-f21c6d168529
            name: view-applications
            description: ${role_view-applications}
            composite: false
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: 832b87c6-d37e-4496-bf6e-6f1f147d2b84
            name: view-consent
            description: ${role_view-consent}
            composite: false
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
          - id: 6a7ca43f-5f1b-40f9-818f-a2518d25121a
            name: manage-account-links
            description: ${role_manage-account-links}
            composite: false
            clientRole: true
            containerId: 9001f800-5814-4946-97d1-16ae3dc35e9b
            attributes: {}
        frontend: []
    groups: []
    defaultRole:
      id: 14658268-0430-4c04-9391-527f48140791
      name: default-roles-trusted-artifact-signer
      description: ${role_default-roles}
      composite: true
      clientRole: false
      containerId: 71a2e3c8-49ee-4821-a43c-f396a3bc43dd
    requiredCredentials:
      - password
    otpPolicyType: totp
    otpPolicyAlgorithm: HmacSHA1
    otpPolicyInitialCounter: 0
    otpPolicyDigits: 6
    otpPolicyLookAheadWindow: 1
    otpPolicyPeriod: 30
    otpPolicyCodeReusable: false
    otpSupportedApplications:
      - totpAppFreeOTPName
      - totpAppGoogleName
      - totpAppMicrosoftAuthenticatorName
    localizationTexts: {}
    webAuthnPolicyRpEntityName: keycloak
    webAuthnPolicySignatureAlgorithms:
      - ES256
    webAuthnPolicyRpId: ""
    webAuthnPolicyAttestationConveyancePreference: not specified
    webAuthnPolicyAuthenticatorAttachment: not specified
    webAuthnPolicyRequireResidentKey: not specified
    webAuthnPolicyUserVerificationRequirement: not specified
    webAuthnPolicyCreateTimeout: 0
    webAuthnPolicyAvoidSameAuthenticatorRegister: false
    webAuthnPolicyAcceptableAaguids: []
    webAuthnPolicyExtraOrigins: []
    webAuthnPolicyPasswordlessRpEntityName: keycloak
    webAuthnPolicyPasswordlessSignatureAlgorithms:
      - ES256
    webAuthnPolicyPasswordlessRpId: ""
    webAuthnPolicyPasswordlessAttestationConveyancePreference: not specified
    webAuthnPolicyPasswordlessAuthenticatorAttachment: not specified
    webAuthnPolicyPasswordlessRequireResidentKey: not specified
    webAuthnPolicyPasswordlessUserVerificationRequirement: not specified
    webAuthnPolicyPasswordlessCreateTimeout: 0
    webAuthnPolicyPasswordlessAvoidSameAuthenticatorRegister: false
    webAuthnPolicyPasswordlessAcceptableAaguids: []
    webAuthnPolicyPasswordlessExtraOrigins: []
    users:
      - username: {{ keycloak_user_username }}
        firstName: Admin
        lastName: Tester
        email: {{ keycloak_user_username }}@demo.com
        emailVerified: true
        enabled: true
        credentials:
          - type: password
            userLabel: My Password
            value: {{ keycloak_user_password }}
            temporary: false
        totp: false
        disableableCredentialTypes: []
        requiredActions: []
        notBefore: 0
        access:
          manageGroupMembership: true
          view: true
          mapRoles: true
          impersonate: true
          manage: true
      - id: 10f27123-356b-4995-a9ab-de965aefbe0a
        username: service-account-walker
        emailVerified: true
        createdTimestamp: 1723897127326
        enabled: true
        totp: false
        serviceAccountClientId: walker
        disableableCredentialTypes: []
        requiredActions: []
        realmRoles:
          - offline_access
          - chicken-manager
          - uma_authorization
          - default-roles-trusted-artifact-signer
        notBefore: 0
        groups: []
    scopeMappings:
      - clientScope: offline_access
        roles:
          - offline_access
    clientScopeMappings:
      account:
        - client: account-console
          roles:
            - manage-account
            - view-groups
    clients:
      - id: 9001f800-5814-4946-97d1-16ae3dc35e9b
        clientId: account
        name: ${client_account}
        rootUrl: ${authBaseUrl}
        baseUrl: /realms/trusted-artifact-signer/account/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /realms/trusted-artifact-signer/account/*
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 4d7dc38f-5533-43c5-91c1-9abf53c8abec
        clientId: account-console
        name: ${client_account-console}
        rootUrl: ${authBaseUrl}
        baseUrl: /realms/trusted-artifact-signer/account/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /realms/trusted-artifact-signer/account/*
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
          pkce.code.challenge.method: S256
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        protocolMappers:
          - id: 5678b1ff-45a4-48dc-a319-ab951e644257
            name: audience resolve
            protocol: openid-connect
            protocolMapper: oidc-audience-resolve-mapper
            consentRequired: false
            config: {}
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: b34a8d0b-9996-4d8e-9a93-b3060c8209fe
        clientId: admin-cli
        name: ${client_admin-cli}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: false
        implicitFlowEnabled: false
        directAccessGrantsEnabled: true
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 3c42518b-2b76-402f-9676-eafa75bed021
        clientId: broker
        name: ${client_broker}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: true
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: false
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 3c390c70-ed79-4c61-b238-604db12a2d76
        clientId: frontend
        name: ""
        description: ""
        rootUrl: ""
        adminUrl: ""
        baseUrl: ""
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - "*"
        webOrigins:
          - "*"
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: true
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          oidc.ciba.grant.enabled: "false"
          backchannel.logout.session.required: "true"
          post.logout.redirect.uris: +
          display.on.consent.screen: "false"
          oauth2.device.authorization.grant.enabled: "false"
          backchannel.logout.revoke.offline.tokens: "false"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: -1
        defaultClientScopes:
          - web-origins
          - delete:document
          - acr
          - profile
          - roles
          - read:document
          - email
          - create:document
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: e7000544-717f-4f57-96f1-a8241c454095
        clientId: realm-management
        name: ${client_realm-management}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: true
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: false
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: f7d9e420-211e-4bfb-9b1a-260b20e7f1a6
        clientId: security-admin-console
        name: ${client_security-admin-console}
        rootUrl: ${authAdminUrl}
        baseUrl: /admin/trusted-artifact-signer/console/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /admin/trusted-artifact-signer/console/*
        webOrigins:
          - +
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          post.logout.redirect.uris: +
          pkce.code.challenge.method: S256
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        protocolMappers:
          - id: 4c256e0b-9350-46bd-920d-61c03b14824e
            name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: locale
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: locale
              jsonType.label: String
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 4d2b1edf-c9d3-4789-994e-8085232cb814
        clientId: trusted-artifact-signer
        name: TAS
        description: Trusted Artifact Signer client
        rootUrl: ""
        adminUrl: ""
        baseUrl: ""
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - "*"
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: true
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: true
        protocol: openid-connect
        attributes:
          oidc.ciba.grant.enabled: "false"
          post.logout.redirect.uris: +
          oauth2.device.authorization.grant.enabled: "false"
          backchannel.logout.session.required: "true"
          backchannel.logout.revoke.offline.tokens: "false"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: -1
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
      - id: 459747ea-42bf-48a9-b5a8-f6d431217eba
        clientId: walker
        name: ""
        description: ""
        rootUrl: ""
        adminUrl: ""
        baseUrl: ""
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        secret: "{{ tpa_walker_secret }}"
        redirectUris:
          - "*"
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: false
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: true
        publicClient: false
        frontchannelLogout: true
        protocol: openid-connect
        attributes:
          oidc.ciba.grant.enabled: "false"
          client.secret.creation.time: "1723897127"
          backchannel.logout.session.required: "true"
          post.logout.redirect.uris: +
          display.on.consent.screen: "false"
          oauth2.device.authorization.grant.enabled: "false"
          backchannel.logout.revoke.offline.tokens: "false"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: -1
        protocolMappers:
          - id: 8342dfc8-751b-468e-a42c-dae17efabb8b
            name: Client Host
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: clientHost
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: clientHost
              jsonType.label: String
          - id: 6e016b6b-9ed7-496f-a199-62f906840c18
            name: Client IP Address
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: clientAddress
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: clientAddress
              jsonType.label: String
          - id: aef04277-e5ca-48ac-93e5-5addd2d80b32
            name: Client ID
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: client_id
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: client_id
              jsonType.label: String
        defaultClientScopes:
          - web-origins
          - delete:document
          - acr
          - profile
          - roles
          - read:document
          - email
          - create:document
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - microprofile-jwt
    clientScopes:
      - id: 89a8a061-3df4-4f1f-a064-a803a2f86559
        name: email
        description: "OpenID Connect built-in scope: email"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${emailScopeConsentText}
        protocolMappers:
          - id: 2efe71cb-134f-4706-b602-ef261e0c90e3
            name: email
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: email
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: email
              jsonType.label: String
          - id: e4b5e04c-20a0-4181-be9a-668e06396cd9
            name: email verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: emailVerified
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: email_verified
              jsonType.label: boolean
      - id: a1cab140-d513-4797-af78-52a3b97e98ff
        name: address
        description: "OpenID Connect built-in scope: address"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${addressScopeConsentText}
        protocolMappers:
          - id: c2005802-2296-4869-afc2-eb5973e2b4bd
            name: address
            protocol: openid-connect
            protocolMapper: oidc-address-mapper
            consentRequired: false
            config:
              user.attribute.formatted: formatted
              user.attribute.country: country
              introspection.token.claim: "true"
              user.attribute.postal_code: postal_code
              userinfo.token.claim: "true"
              user.attribute.street: street
              id.token.claim: "true"
              user.attribute.region: region
              access.token.claim: "true"
              user.attribute.locality: locality
      - id: ae65b344-51bc-4d86-aa06-0642b7400ab5
        name: phone
        description: "OpenID Connect built-in scope: phone"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${phoneScopeConsentText}
        protocolMappers:
          - id: bde26c9f-3048-4cc4-a794-adb710ad2690
            name: phone number
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: phoneNumber
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: phone_number
              jsonType.label: String
          - id: ed263b25-b797-4077-949c-c58dbb3140bd
            name: phone number verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: phoneNumberVerified
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: phone_number_verified
              jsonType.label: boolean
      - id: 3c1d8040-cfe9-46eb-8e5b-b61900e90f71
        name: create:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: dd3b3d2f-4db6-4557-b6c0-f7126f155404
        name: microprofile-jwt
        description: Microprofile - JWT built-in scope
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: c0dd1ad0-1873-4e17-867d-3d8e221e6f78
            name: groups
            protocol: openid-connect
            protocolMapper: oidc-usermodel-realm-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              userinfo.token.claim: "true"
              user.attribute: foo
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: groups
              jsonType.label: String
          - id: fa00d0c2-a228-47f3-b1c8-9b2fbac304b9
            name: upn
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: username
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: upn
              jsonType.label: String
      - id: 2cc38b8a-12ca-40c0-84a6-475a9a9f76f3
        name: delete:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: 152e3f01-3f58-434f-8a2a-4f504c6d3f39
        name: read:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: 4426916a-6a56-4221-a10c-be38bb23a36e
        name: offline_access
        description: "OpenID Connect built-in scope: offline_access"
        protocol: openid-connect
        attributes:
          consent.screen.text: ${offlineAccessScopeConsentText}
          display.on.consent.screen: "true"
      - id: 6254d45d-a982-402c-9bf1-32c3aa155f0f
        name: role_list
        description: SAML role list
        protocol: saml
        attributes:
          consent.screen.text: ${samlRoleListScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: eba871bc-785d-4af5-bf53-11fa45401a77
            name: role list
            protocol: saml
            protocolMapper: saml-role-list-mapper
            consentRequired: false
            config:
              single: "false"
              attribute.nameformat: Basic
              attribute.name: Role
      - id: 517fd786-e7bc-4686-be90-fec34e65a250
        name: web-origins
        description: OpenID Connect scope for add allowed web origins to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
          consent.screen.text: ""
        protocolMappers:
          - id: ecf1f1b7-1d4c-4e7b-b641-2390f55eeddc
            name: allowed web origins
            protocol: openid-connect
            protocolMapper: oidc-allowed-origins-mapper
            consentRequired: false
            config:
              access.token.claim: "true"
              introspection.token.claim: "true"
      - id: c213ade9-2a98-4a56-b698-bb5a1b75ac6d
        name: acr
        description: OpenID Connect scope for add acr (authentication context class
          reference) to the token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: e4354a4d-1f8c-4a16-8c95-8972a53edf0b
            name: acr loa level
            protocol: openid-connect
            protocolMapper: oidc-acr-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              access.token.claim: "true"
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
      - id: c27bb2d9-599d-4140-bc31-c5d6e2d5a987
        name: profile
        description: "OpenID Connect built-in scope: profile"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          consent.screen.text: ${profileScopeConsentText}
        protocolMappers:
          - id: 1ed7e8f5-60a7-47de-b094-2fa159dc93ae
            name: zoneinfo
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: zoneinfo
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: zoneinfo
              jsonType.label: String
          - id: 23e83445-d9d8-4faa-bf9c-3a5b3acecd14
            name: nickname
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: nickname
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: nickname
              jsonType.label: String
          - id: 9b71fc9f-3b86-47a8-8ffa-336d7da36a18
            name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: locale
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: locale
              jsonType.label: String
          - id: 57bcb041-7dd2-4d15-adf5-b9cd65aceae5
            name: profile
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: profile
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: profile
              jsonType.label: String
          - id: 893707f5-fb87-4dc7-b112-bb2549b95499
            name: website
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: website
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: website
              jsonType.label: String
          - id: 29cbe3e4-5d54-415e-82bf-bf323388a588
            name: middle name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: middleName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: middle_name
              jsonType.label: String
          - id: ef04fa23-80c1-49c2-8f70-15948829fdb4
            name: family name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: lastName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: family_name
              jsonType.label: String
          - id: a6474479-20ea-47ca-a04a-7ef951cff1fc
            name: picture
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: picture
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: picture
              jsonType.label: String
          - id: e5b468dc-0bd9-46ce-bba2-6fa509ec0063
            name: username
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: username
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: preferred_username
              jsonType.label: String
          - id: 67b4c4a8-079e-4cad-855e-ee6f7c0bf330
            name: updated at
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: updatedAt
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: updated_at
              jsonType.label: long
          - id: 6da98657-e29a-43a3-a218-e05b347155a2
            name: full name
            protocol: openid-connect
            protocolMapper: oidc-full-name-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              access.token.claim: "true"
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
          - id: 897a59d5-eecd-4f04-82b4-4f24b156295b
            name: birthdate
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: birthdate
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: birthdate
              jsonType.label: String
          - id: 7c0f2a46-a6fa-4075-a5a1-06a1a1c70d42
            name: given name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: firstName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: given_name
              jsonType.label: String
          - id: 76170c57-82e6-4717-9f90-0b16119eb0c0
            name: gender
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: gender
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: gender
              jsonType.label: String
      - id: 5469fff4-9772-480b-988d-3c868d09f6a3
        name: roles
        description: OpenID Connect scope for add user roles to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "true"
          consent.screen.text: ${rolesScopeConsentText}
        protocolMappers:
          - id: b9a34e5c-3e11-4bca-add5-e8649a71b6c3
            name: realm roles
            protocol: openid-connect
            protocolMapper: oidc-usermodel-realm-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              user.attribute: foo
              access.token.claim: "true"
              claim.name: realm_access.roles
              jsonType.label: String
          - id: df79cbe4-fbbe-42ad-a8ac-5ff587a9de00
            name: audience resolve
            protocol: openid-connect
            protocolMapper: oidc-audience-resolve-mapper
            consentRequired: false
            config:
              access.token.claim: "true"
              introspection.token.claim: "true"
          - id: f50cafa0-55ad-4953-a63a-2ee452feaf74
            name: client roles
            protocol: openid-connect
            protocolMapper: oidc-usermodel-client-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              user.attribute: foo
              access.token.claim: "true"
              claim.name: resource_access.${client_id}.roles
              jsonType.label: String
    defaultDefaultClientScopes:
      - role_list
      - profile
      - email
      - roles
      - web-origins
      - acr
    defaultOptionalClientScopes:
      - offline_access
      - address
      - phone
      - microprofile-jwt
    browserSecurityHeaders:
      contentSecurityPolicyReportOnly: ""
      xContentTypeOptions: nosniff
      referrerPolicy: no-referrer
      xRobotsTag: none
      xFrameOptions: SAMEORIGIN
      contentSecurityPolicy: frame-src 'self'; frame-ancestors 'self'; object-src 'none';
      xXSSProtection: 1; mode=block
      strictTransportSecurity: max-age=31536000; includeSubDomains
    smtpServer: {}
    eventsEnabled: true
    eventsExpiration: 259200
    eventsListeners:
      - jboss-logging
    enabledEventTypes:
      - SEND_RESET_PASSWORD
      - UPDATE_CONSENT_ERROR
      - GRANT_CONSENT
      - VERIFY_PROFILE_ERROR
      - REMOVE_TOTP
      - REVOKE_GRANT
      - UPDATE_TOTP
      - LOGIN_ERROR
      - CLIENT_LOGIN
      - RESET_PASSWORD_ERROR
      - IMPERSONATE_ERROR
      - CODE_TO_TOKEN_ERROR
      - CUSTOM_REQUIRED_ACTION
      - OAUTH2_DEVICE_CODE_TO_TOKEN_ERROR
      - RESTART_AUTHENTICATION
      - IMPERSONATE
      - UPDATE_PROFILE_ERROR
      - LOGIN
      - OAUTH2_DEVICE_VERIFY_USER_CODE
      - UPDATE_PASSWORD_ERROR
      - CLIENT_INITIATED_ACCOUNT_LINKING
      - OAUTH2_EXTENSION_GRANT
      - USER_DISABLED_BY_PERMANENT_LOCKOUT
      - TOKEN_EXCHANGE
      - AUTHREQID_TO_TOKEN
      - LOGOUT
      - REGISTER
      - DELETE_ACCOUNT_ERROR
      - CLIENT_REGISTER
      - IDENTITY_PROVIDER_LINK_ACCOUNT
      - USER_DISABLED_BY_TEMPORARY_LOCKOUT
      - DELETE_ACCOUNT
      - UPDATE_PASSWORD
      - CLIENT_DELETE
      - FEDERATED_IDENTITY_LINK_ERROR
      - IDENTITY_PROVIDER_FIRST_LOGIN
      - CLIENT_DELETE_ERROR
      - VERIFY_EMAIL
      - CLIENT_LOGIN_ERROR
      - RESTART_AUTHENTICATION_ERROR
      - EXECUTE_ACTIONS
      - REMOVE_FEDERATED_IDENTITY_ERROR
      - TOKEN_EXCHANGE_ERROR
      - PERMISSION_TOKEN
      - SEND_IDENTITY_PROVIDER_LINK_ERROR
      - EXECUTE_ACTION_TOKEN_ERROR
      - OAUTH2_EXTENSION_GRANT_ERROR
      - SEND_VERIFY_EMAIL
      - OAUTH2_DEVICE_AUTH
      - EXECUTE_ACTIONS_ERROR
      - REMOVE_FEDERATED_IDENTITY
      - OAUTH2_DEVICE_CODE_TO_TOKEN
      - IDENTITY_PROVIDER_POST_LOGIN
      - IDENTITY_PROVIDER_LINK_ACCOUNT_ERROR
      - OAUTH2_DEVICE_VERIFY_USER_CODE_ERROR
      - UPDATE_EMAIL
      - REGISTER_ERROR
      - REVOKE_GRANT_ERROR
      - EXECUTE_ACTION_TOKEN
      - LOGOUT_ERROR
      - UPDATE_EMAIL_ERROR
      - CLIENT_UPDATE_ERROR
      - AUTHREQID_TO_TOKEN_ERROR
      - UPDATE_PROFILE
      - CLIENT_REGISTER_ERROR
      - FEDERATED_IDENTITY_LINK
      - SEND_IDENTITY_PROVIDER_LINK
      - SEND_VERIFY_EMAIL_ERROR
      - RESET_PASSWORD
      - CLIENT_INITIATED_ACCOUNT_LINKING_ERROR
      - OAUTH2_DEVICE_AUTH_ERROR
      - UPDATE_CONSENT
      - REMOVE_TOTP_ERROR
      - VERIFY_EMAIL_ERROR
      - SEND_RESET_PASSWORD_ERROR
      - CLIENT_UPDATE
      - CUSTOM_REQUIRED_ACTION_ERROR
      - IDENTITY_PROVIDER_POST_LOGIN_ERROR
      - UPDATE_TOTP_ERROR
      - CODE_TO_TOKEN
      - VERIFY_PROFILE
      - GRANT_CONSENT_ERROR
      - IDENTITY_PROVIDER_FIRST_LOGIN_ERROR
    adminEventsEnabled: false
    adminEventsDetailsEnabled: false
    identityProviders: []
    identityProviderMappers: []
    components:
      org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy:
        - id: ba36afcb-3376-4d07-9d20-81875abcc3ed
          name: Allowed Protocol Mapper Types
          providerId: allowed-protocol-mappers
          subType: anonymous
          subComponents: {}
          config:
            allowed-protocol-mapper-types:
              - saml-user-attribute-mapper
              - oidc-full-name-mapper
              - oidc-address-mapper
              - oidc-usermodel-property-mapper
              - saml-role-list-mapper
              - oidc-usermodel-attribute-mapper
              - saml-user-property-mapper
              - oidc-sha256-pairwise-sub-mapper
        - id: f9a08ba7-4916-4364-a3ae-5dc882540e80
          name: Allowed Client Scopes
          providerId: allowed-client-templates
          subType: authenticated
          subComponents: {}
          config:
            allow-default-scopes:
              - "true"
        - id: 7a79c2f6-6c56-4e1d-8677-8c7f505c045c
          name: Full Scope Disabled
          providerId: scope
          subType: anonymous
          subComponents: {}
          config: {}
        - id: 6a5f47c0-1c2e-4818-b768-1a6315fad452
          name: Trusted Hosts
          providerId: trusted-hosts
          subType: anonymous
          subComponents: {}
          config:
            host-sending-registration-request-must-match:
              - "true"
            client-uris-must-match:
              - "true"
        - id: 90c5e280-e244-49e7-9710-5566afb4bbb4
          name: Allowed Client Scopes
          providerId: allowed-client-templates
          subType: anonymous
          subComponents: {}
          config:
            allow-default-scopes:
              - "true"
        - id: 6558378b-4f99-4a03-a4ad-16c38f422c9e
          name: Consent Required
          providerId: consent-required
          subType: anonymous
          subComponents: {}
          config: {}
        - id: 6a5cba5d-167f-45f9-8347-36ba0a1722d7
          name: Max Clients Limit
          providerId: max-clients
          subType: anonymous
          subComponents: {}
          config:
            max-clients:
              - "200"
        - id: 2b61908f-07d0-419b-aef0-ce31615572e4
          name: Allowed Protocol Mapper Types
          providerId: allowed-protocol-mappers
          subType: authenticated
          subComponents: {}
          config:
            allowed-protocol-mapper-types:
              - oidc-usermodel-property-mapper
              - oidc-usermodel-attribute-mapper
              - saml-user-attribute-mapper
              - saml-role-list-mapper
              - oidc-address-mapper
              - oidc-sha256-pairwise-sub-mapper
              - oidc-full-name-mapper
              - saml-user-property-mapper
      org.keycloak.keys.KeyProvider:
        - id: e6eb029a-9ba7-4447-b107-799a40641eb7
          name: rsa-generated
          providerId: rsa-generated
          subComponents: {}
          config:
            priority:
              - "100"
        - id: c7435ae3-abb9-4cfa-a5c2-1cfaa1433a00
          name: rsa-enc-generated
          providerId: rsa-enc-generated
          subComponents: {}
          config:
            priority:
              - "100"
            algorithm:
              - RSA-OAEP
        - id: 4cbe9fff-c255-4179-a84f-03cb91f45bc2
          name: aes-generated
          providerId: aes-generated
          subComponents: {}
          config:
            priority:
              - "100"
        - id: 751987bb-e258-4c24-9d97-945ca648b5c4
          name: hmac-generated-hs512
          providerId: hmac-generated
          subComponents: {}
          config:
            priority:
              - "100"
            algorithm:
              - HS512
    internationalizationEnabled: false
    supportedLocales: []
    authenticationFlows:
      - id: e634c7a1-2314-4e85-aaeb-b782bb5ae5b5
        alias: Account verification options
        description: Method with which to verity the existing account
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-email-verification
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: true
            flowAlias: Verify Existing Account by Re-authentication
            userSetupAllowed: false
      - id: 3a59b745-8cf0-43ea-adcd-e3bf9f7c483b
        alias: Browser - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-otp-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 027f064d-86b4-46c8-8c00-5e890105959b
        alias: Direct Grant - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: direct-grant-validate-otp
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: a5aaa003-ae47-4059-bc8d-c42d1f3f6d8d
        alias: First broker login - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-otp-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 8cc06fa1-ba06-4612-8192-d345bc4e6574
        alias: Handle Existing Account
        description: Handle what to do if there is existing account with same
          email/username like authenticated identity provider
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-confirm-link
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: true
            flowAlias: Account verification options
            userSetupAllowed: false
      - id: 1cbc43fd-a56d-40d1-9bc8-c23dead4d17e
        alias: Reset - Conditional OTP
        description: Flow to determine if the OTP should be reset or not. Set to
          REQUIRED to force.
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-otp
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 58858615-c0b2-4c1d-939a-a790ea7706fd
        alias: User creation or linking
        description: Flow for the existing/non-existing user alternatives
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticatorConfig: create unique user config
            authenticator: idp-create-user-if-unique
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: true
            flowAlias: Handle Existing Account
            userSetupAllowed: false
      - id: e98d5942-0aae-46ef-8ed4-5d8416320597
        alias: Verify Existing Account by Re-authentication
        description: Reauthentication of existing account
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-username-password-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 20
            autheticatorFlow: true
            flowAlias: First broker login - Conditional OTP
            userSetupAllowed: false
      - id: aebf6895-4e1a-406d-bbee-99b95f5ec245
        alias: browser
        description: browser based authentication
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: auth-cookie
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-spnego
            authenticatorFlow: false
            requirement: DISABLED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: identity-provider-redirector
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 25
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 30
            autheticatorFlow: true
            flowAlias: forms
            userSetupAllowed: false
      - id: 00d4eddb-51ac-4c69-967e-934d5e3af4e6
        alias: clients
        description: Base authentication for clients
        providerId: client-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: client-secret
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-jwt
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-secret-jwt
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 30
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-x509
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 40
            autheticatorFlow: false
            userSetupAllowed: false
      - id: de32eb40-4a33-4a1f-97b9-acb0c0a4ace9
        alias: direct grant
        description: OpenID Connect Resource Owner Grant
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: direct-grant-validate-username
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: direct-grant-validate-password
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 30
            autheticatorFlow: true
            flowAlias: Direct Grant - Conditional OTP
            userSetupAllowed: false
      - id: 74180937-f90e-4e30-b486-b506e9e90ba5
        alias: docker auth
        description: Used by Docker clients to authenticate against the IDP
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: docker-http-basic-authenticator
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 40d4df7c-4652-42ce-98ab-86680d52e8ce
        alias: first broker login
        description: Actions taken after first broker login with identity provider
          account, which is not yet linked to any Keycloak account
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticatorConfig: review profile config
            authenticator: idp-review-profile
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: true
            flowAlias: User creation or linking
            userSetupAllowed: false
      - id: e6f17c88-9a95-4194-af91-3e95f6316e9c
        alias: forms
        description: Username, password, otp and other auth forms.
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: auth-username-password-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 20
            autheticatorFlow: true
            flowAlias: Browser - Conditional OTP
            userSetupAllowed: false
      - id: 976506eb-ef9e-43bf-b6c6-ffb948b15a79
        alias: registration
        description: registration flow
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: registration-page-form
            authenticatorFlow: true
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: true
            flowAlias: registration form
            userSetupAllowed: false
      - id: 48f2abf7-937f-4004-825e-c9378db9ac27
        alias: registration form
        description: registration form
        providerId: form-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: registration-user-creation
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-password-action
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 50
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-recaptcha-action
            authenticatorFlow: false
            requirement: DISABLED
            priority: 60
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-terms-and-conditions
            authenticatorFlow: false
            requirement: DISABLED
            priority: 70
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 82207c72-0bff-4fb5-9854-e9475c05bd2f
        alias: reset credentials
        description: Reset credentials for a user if they forgot their password or something
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: reset-credentials-choose-user
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-credential-email
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-password
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 30
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 40
            autheticatorFlow: true
            flowAlias: Reset - Conditional OTP
            userSetupAllowed: false
      - id: c2ae9d3d-a917-4c20-b5a3-804e7326ff0e
        alias: saml ecp
        description: SAML ECP Profile Authentication Flow
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: http-basic-authenticator
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
    authenticatorConfig:
      - id: 09c27c58-da61-4153-95b6-4a796052027f
        alias: create unique user config
        config:
          require.password.update.after.registration: "false"
      - id: 3c8eda04-a014-43f3-bd78-39ce97aac70e
        alias: review profile config
        config:
          update.profile.on.first.login: missing
    requiredActions:
      - alias: CONFIGURE_TOTP
        name: Configure OTP
        providerId: CONFIGURE_TOTP
        enabled: true
        defaultAction: false
        priority: 10
        config: {}
      - alias: TERMS_AND_CONDITIONS
        name: Terms and Conditions
        providerId: TERMS_AND_CONDITIONS
        enabled: false
        defaultAction: false
        priority: 20
        config: {}
      - alias: UPDATE_PASSWORD
        name: Update Password
        providerId: UPDATE_PASSWORD
        enabled: true
        defaultAction: false
        priority: 30
        config: {}
      - alias: UPDATE_PROFILE
        name: Update Profile
        providerId: UPDATE_PROFILE
        enabled: true
        defaultAction: false
        priority: 40
        config: {}
      - alias: VERIFY_EMAIL
        name: Verify Email
        providerId: VERIFY_EMAIL
        enabled: true
        defaultAction: false
        priority: 50
        config: {}
      - alias: delete_account
        name: Delete Account
        providerId: delete_account
        enabled: false
        defaultAction: false
        priority: 60
        config: {}
      - alias: webauthn-register
        name: Webauthn Register
        providerId: webauthn-register
        enabled: true
        defaultAction: false
        priority: 70
        config: {}
      - alias: webauthn-register-passwordless
        name: Webauthn Register Passwordless
        providerId: webauthn-register-passwordless
        enabled: true
        defaultAction: false
        priority: 80
        config: {}
      - alias: VERIFY_PROFILE
        name: Verify Profile
        providerId: VERIFY_PROFILE
        enabled: true
        defaultAction: false
        priority: 90
        config: {}
      - alias: delete_credential
        name: Delete Credential
        providerId: delete_credential
        enabled: true
        defaultAction: false
        priority: 100
        config: {}
      - alias: update_user_locale
        name: Update User Locale
        providerId: update_user_locale
        enabled: true
        defaultAction: false
        priority: 1000
        config: {}
    browserFlow: browser
    registrationFlow: registration
    directGrantFlow: direct grant
    resetCredentialsFlow: reset credentials
    clientAuthenticationFlow: clients
    dockerAuthenticationFlow: docker auth
    firstBrokerLoginFlow: first broker login
    attributes:
      cibaBackchannelTokenDeliveryMode: poll
      cibaExpiresIn: "120"
      cibaAuthRequestedUserHint: login_hint
      oauth2DeviceCodeLifespan: "600"
      clientOfflineSessionMaxLifespan: "0"
      oauth2DevicePollingInterval: "5"
      clientSessionIdleTimeout: "0"
      parRequestUriLifespan: "60"
      clientSessionMaxLifespan: "0"
      clientOfflineSessionIdleTimeout: "0"
      cibaInterval: "5"
      realmReusableOtpCode: "false"
    keycloakVersion: 24.0.8.redhat-00001
    userManagedAccessAllowed: false
    clientProfiles:
      profiles: []
    clientPolicies:
      policies: []
