apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  labels:
    app: sso
  name: tpa-realm-import
spec:
  keycloakCRName: keycloak
  realm:
    id: 8f2ed9f3-b8fc-409b-ad76-c3029dc19381
    realm: trusted-profile-analyzer
    displayName: Trusted Profile Analyzer Realm
    displayNameHtml: ""
    notBefore: 0
    defaultSignatureAlgorithm: RS256
    revokeRefreshToken: false
    refreshTokenMaxReuse: 0
    accessTokenLifespan: 300
    accessTokenLifespanForImplicitFlow: 900
    ssoSessionIdleTimeout: 1800
    ssoSessionMaxLifespan: 36000
    ssoSessionIdleTimeoutRememberMe: 0
    ssoSessionMaxLifespanRememberMe: 0
    offlineSessionIdleTimeout: 2592000
    offlineSessionMaxLifespanEnabled: false
    offlineSessionMaxLifespan: 5184000
    clientSessionIdleTimeout: 0
    clientSessionMaxLifespan: 0
    clientOfflineSessionIdleTimeout: 0
    clientOfflineSessionMaxLifespan: 0
    accessCodeLifespan: 60
    accessCodeLifespanUserAction: 300
    accessCodeLifespanLogin: 1800
    actionTokenGeneratedByAdminLifespan: 43200
    actionTokenGeneratedByUserLifespan: 300
    oauth2DeviceCodeLifespan: 600
    oauth2DevicePollingInterval: 5
    enabled: true
    sslRequired: external
    registrationAllowed: false
    registrationEmailAsUsername: false
    rememberMe: false
    verifyEmail: false
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    resetPasswordAllowed: false
    editUsernameAllowed: false
    bruteForceProtected: false
    permanentLockout: false
    maxTemporaryLockouts: 0
    bruteForceStrategy: MULTIPLE
    maxFailureWaitSeconds: 900
    minimumQuickLoginWaitSeconds: 60
    waitIncrementSeconds: 60
    quickLoginCheckMilliSeconds: 1000
    maxDeltaTimeSeconds: 43200
    failureFactor: 30
    roles:
      realm:
        - id: 7332fbae-bbd7-43fb-a121-2e2f0231f903
          name: trust-admin
          description: trusted profile analyzer role
          composite: false
          clientRole: false
          containerId: 8f2ed9f3-b8fc-409b-ad76-c3029dc19381
          attributes: {}
        - id: e0d51c4c-2693-4d20-a430-7f30a32b01b1
          name: default-roles-trusted-profile-analyzer
          description: ${role_default-roles}
          composite: true
          composites:
            realm:
              - offline_access
              - uma_authorization
              - trust-admin
            client:
              account:
                - view-profile
                - manage-account
          clientRole: false
          containerId: 8f2ed9f3-b8fc-409b-ad76-c3029dc19381
          attributes: {}
        - id: e6edd8af-8cc4-416d-ab96-9ab92be2b703
          name: uma_authorization
          description: ${role_uma_authorization}
          composite: false
          clientRole: false
          containerId: 8f2ed9f3-b8fc-409b-ad76-c3029dc19381
          attributes: {}
        - id: ff456d70-7381-400c-90ec-49f67687f4ca
          name: offline_access
          description: ${role_offline-access}
          composite: false
          clientRole: false
          containerId: 8f2ed9f3-b8fc-409b-ad76-c3029dc19381
          attributes: {}
      client:
        cli: []
        realm-management:
          - id: 0b40d0b8-c0f2-4b30-9c42-8b75bd949a7e
            name: view-identity-providers
            description: ${role_view-identity-providers}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 5b782d26-ee98-4345-a5dc-a9786be5a335
            name: query-users
            description: ${role_query-users}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 306c5a25-93a9-4d39-a128-62883e1f8774
            name: manage-clients
            description: ${role_manage-clients}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: dea5d67d-8ced-4831-8602-919cf64a2865
            name: manage-users
            description: ${role_manage-users}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 31b086e6-14c3-4497-ace9-dee535fd5897
            name: create-client
            description: ${role_create-client}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: fa1fdce5-dfb4-4211-a261-cdcbd65a9198
            name: realm-admin
            description: ${role_realm-admin}
            composite: true
            composites:
              client:
                realm-management:
                  - view-identity-providers
                  - query-users
                  - manage-users
                  - manage-clients
                  - create-client
                  - query-clients
                  - view-clients
                  - view-realm
                  - manage-events
                  - manage-realm
                  - query-groups
                  - view-authorization
                  - manage-identity-providers
                  - query-realms
                  - manage-authorization
                  - impersonation
                  - view-users
                  - view-events
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 8cb6ca50-2bc5-42c1-8597-0921d922bbe8
            name: query-clients
            description: ${role_query-clients}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 90a998e2-d0ee-49a8-b0f8-778ab6a9e290
            name: view-clients
            description: ${role_view-clients}
            composite: true
            composites:
              client:
                realm-management:
                  - query-clients
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: e86e4ce7-4298-4e75-9422-5c7bf5ea9ed0
            name: view-realm
            description: ${role_view-realm}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: b785545f-a72f-4e78-928d-bfd555bf5afa
            name: manage-events
            description: ${role_manage-events}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: fce08fdc-bf40-46a8-9e68-9c7d149302d8
            name: manage-realm
            description: ${role_manage-realm}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 4614d8da-0b10-4e09-b0ea-4e4fc0cd7479
            name: query-groups
            description: ${role_query-groups}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: cf989c3b-eb63-4fac-b49e-9543676af2c8
            name: view-authorization
            description: ${role_view-authorization}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 8966bd36-6004-49e6-bf3f-a0530f2ed8b4
            name: manage-identity-providers
            description: ${role_manage-identity-providers}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: ee45ece6-9027-4c4e-859d-eb4af9b50d34
            name: query-realms
            description: ${role_query-realms}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 16e67ab7-0fa3-499b-a440-5f860ac4cd28
            name: impersonation
            description: ${role_impersonation}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 4e3529f8-3470-4e03-9258-4b2cd295c4c3
            name: manage-authorization
            description: ${role_manage-authorization}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 6b8dcd56-1ffc-4a85-8c17-fda09c4dbf10
            name: view-users
            description: ${role_view-users}
            composite: true
            composites:
              client:
                realm-management:
                  - query-groups
                  - query-users
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
          - id: 8bb235eb-db0b-492a-80ef-09e9c37c63cf
            name: view-events
            description: ${role_view-events}
            composite: false
            clientRole: true
            containerId: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
            attributes: {}
        security-admin-console: []
        admin-cli: []
        account-console: []
        broker:
          - id: ef7c43ef-46a1-4d40-8ad3-6a8a07da98a6
            name: read-token
            description: ${role_read-token}
            composite: false
            clientRole: true
            containerId: 68c6667a-9fbb-4ace-9e0a-0a5eb453f7f0
            attributes: {}
        account:
          - id: c25aa81f-d876-46ff-81ba-54bf820e7e82
            name: view-profile
            description: ${role_view-profile}
            composite: false
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: 6147b41e-785a-408f-ace4-27a719942f95
            name: view-applications
            description: ${role_view-applications}
            composite: false
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: 3533a14a-3cde-4f0c-b2ad-98337da2b17f
            name: manage-account-links
            description: ${role_manage-account-links}
            composite: false
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: 0770d28d-0a1f-489d-bf6e-44b8554dc6aa
            name: manage-consent
            description: ${role_manage-consent}
            composite: true
            composites:
              client:
                account:
                  - view-consent
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: 60330d3a-9fdd-400d-b328-26f456d23a83
            name: manage-account
            description: ${role_manage-account}
            composite: true
            composites:
              client:
                account:
                  - manage-account-links
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: dca166f2-ba50-4721-ba49-0983cae963f7
            name: view-consent
            description: ${role_view-consent}
            composite: false
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: d18805af-4a92-46a2-883e-84c3d4adbd14
            name: delete-account
            description: ${role_delete-account}
            composite: false
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
          - id: 5e985436-9069-401d-ae6d-09939e2538db
            name: view-groups
            description: ${role_view-groups}
            composite: false
            clientRole: true
            containerId: 1510244d-9c8d-42d3-a22a-7345158c06b6
            attributes: {}
        frontend: []
    groups: []
    defaultRole:
      id: e0d51c4c-2693-4d20-a430-7f30a32b01b1
      name: default-roles-trusted-profile-analyzer
      description: ${role_default-roles}
      composite: true
      clientRole: false
      containerId: 8f2ed9f3-b8fc-409b-ad76-c3029dc19381
    requiredCredentials:
      - password
    otpPolicyType: totp
    otpPolicyAlgorithm: HmacSHA1
    otpPolicyInitialCounter: 0
    otpPolicyDigits: 6
    otpPolicyLookAheadWindow: 1
    otpPolicyPeriod: 30
    otpPolicyCodeReusable: false
    otpSupportedApplications:
      - totpAppFreeOTPName
      - totpAppGoogleName
      - totpAppMicrosoftAuthenticatorName
    localizationTexts: {}
    webAuthnPolicyRpEntityName: keycloak
    webAuthnPolicySignatureAlgorithms:
      - ES256
      - RS256
    webAuthnPolicyRpId: ""
    webAuthnPolicyAttestationConveyancePreference: not specified
    webAuthnPolicyAuthenticatorAttachment: not specified
    webAuthnPolicyRequireResidentKey: not specified
    webAuthnPolicyUserVerificationRequirement: not specified
    webAuthnPolicyCreateTimeout: 0
    webAuthnPolicyAvoidSameAuthenticatorRegister: false
    webAuthnPolicyAcceptableAaguids: []
    webAuthnPolicyExtraOrigins: []
    webAuthnPolicyPasswordlessRpEntityName: keycloak
    webAuthnPolicyPasswordlessSignatureAlgorithms:
      - ES256
      - RS256
    webAuthnPolicyPasswordlessRpId: ""
    webAuthnPolicyPasswordlessAttestationConveyancePreference: not specified
    webAuthnPolicyPasswordlessAuthenticatorAttachment: not specified
    webAuthnPolicyPasswordlessRequireResidentKey: not specified
    webAuthnPolicyPasswordlessUserVerificationRequirement: not specified
    webAuthnPolicyPasswordlessCreateTimeout: 0
    webAuthnPolicyPasswordlessAvoidSameAuthenticatorRegister: false
    webAuthnPolicyPasswordlessAcceptableAaguids: []
    webAuthnPolicyPasswordlessExtraOrigins: []
    users:
      - username: {{ keycloak_user_username }}
        firstName: Admin
        lastName: Tester
        email: {{ keycloak_user_username }}@demo.com
        emailVerified: true
        enabled: true
        credentials:
          - type: password
            userLabel: My Password
            value: {{ keycloak_user_password }}
            temporary: false
        totp: false
        disableableCredentialTypes: []
        requiredActions: []
        notBefore: 0
        realmRoles:
          - trust-admin
        access:
          manageGroupMembership: true
          view: true
          mapRoles: true
          impersonate: true
          manage: true
      - id: 2360f82f-be03-45fe-9c6d-39c5428b7771
        username: service-account-cli
        emailVerified: false
        createdTimestamp: 1751559188395
        enabled: true
        totp: false
        serviceAccountClientId: cli
        disableableCredentialTypes: []
        requiredActions: []
        realmRoles:
          - default-roles-trusted-profile-analyzer
        notBefore: 0
        groups: []
    scopeMappings:
      - clientScope: delete:document
        roles:
          - trust-admin
      - clientScope: read:document
        roles:
          - trust-admin
      - clientScope: update:document
        roles:
          - trust-admin
      - clientScope: create:document
        roles:
          - trust-admin
      - clientScope: offline_access
        roles:
          - offline_access
    clientScopeMappings:
      account:
        - client: account-console
          roles:
            - manage-account
            - view-groups
    clients:
      - id: 1510244d-9c8d-42d3-a22a-7345158c06b6
        clientId: account
        name: ${client_account}
        rootUrl: ${authBaseUrl}
        baseUrl: /realms/trusted-profile-analyzer/account/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /realms/trusted-profile-analyzer/account/*
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          realm_client: "false"
          post.logout.redirect.uris: +
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - basic
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: 38519a9b-d635-4213-a4bb-b48bcdfdb396
        clientId: account-console
        name: ${client_account-console}
        rootUrl: ${authBaseUrl}
        baseUrl: /realms/trusted-profile-analyzer/account/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /realms/trusted-profile-analyzer/account/*
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          realm_client: "false"
          post.logout.redirect.uris: +
          pkce.code.challenge.method: S256
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        protocolMappers:
          - id: 078ed67b-94ee-427d-8e3f-5cf5420ac99a
            name: audience resolve
            protocol: openid-connect
            protocolMapper: oidc-audience-resolve-mapper
            consentRequired: false
            config: {}
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - basic
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: 0a7dc03e-e222-4eee-a5e6-8d716702c17a
        clientId: admin-cli
        name: ${client_admin-cli}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: false
        implicitFlowEnabled: false
        directAccessGrantsEnabled: true
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          realm_client: "false"
          client.use.lightweight.access.token.enabled: "true"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - basic
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: 68c6667a-9fbb-4ace-9e0a-0a5eb453f7f0
        clientId: broker
        name: ${client_broker}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: true
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: false
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          realm_client: "true"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - basic
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: 09c94ea0-0c16-43ed-9a07-133f1f2240e7
        clientId: cli
        name: TPA CLI
        description: ""
        rootUrl: ""
        adminUrl: ""
        baseUrl: ""
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        secret: "{{ tpa_cli_secret }}"
        redirectUris:
          - /*
        webOrigins:
          - /*
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: false
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: true
        publicClient: false
        frontchannelLogout: true
        protocol: openid-connect
        attributes:
          realm_client: "false"
          oidc.ciba.grant.enabled: "false"
          client.secret.creation.time: "1751559188"
          backchannel.logout.session.required: "true"
          standard.token.exchange.enabled: "false"
          oauth2.device.authorization.grant.enabled: "false"
          backchannel.logout.revoke.offline.tokens: "false"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: -1
        defaultClientScopes:
          - service_account
          - web-origins
          - acr
          - delete:document
          - profile
          - roles
          - read:document
          - update:document
          - basic
          - email
          - create:document
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: 29fa893e-f4dc-4cf7-b66d-17b953e5b46f
        clientId: frontend
        name: TPA Frontend
        description: ""
        rootUrl: ""
        adminUrl: ""
        baseUrl: ""
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - "*"
        webOrigins:
          - "*"
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: true
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          oidc.ciba.grant.enabled: "false"
          backchannel.logout.session.required: "true"
          standard.token.exchange.enabled: "false"
          oauth2.device.authorization.grant.enabled: "false"
          backchannel.logout.revoke.offline.tokens: "false"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: -1
        defaultClientScopes:
          - web-origins
          - acr
          - delete:document
          - profile
          - roles
          - read:document
          - update:document
          - basic
          - email
          - create:document
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: 400565e5-3ed5-4e02-96ec-aa2e6f52ac4c
        clientId: realm-management
        name: ${client_realm-management}
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris: []
        webOrigins: []
        notBefore: 0
        bearerOnly: true
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: false
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          realm_client: "true"
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: false
        nodeReRegistrationTimeout: 0
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - basic
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
      - id: bc301150-95e5-4c23-a457-c20385225a57
        clientId: security-admin-console
        name: ${client_security-admin-console}
        rootUrl: ${authAdminUrl}
        baseUrl: /admin/trusted-profile-analyzer/console/
        surrogateAuthRequired: false
        enabled: true
        alwaysDisplayInConsole: false
        clientAuthenticatorType: client-secret
        redirectUris:
          - /admin/trusted-profile-analyzer/console/*
        webOrigins:
          - +
        notBefore: 0
        bearerOnly: false
        consentRequired: false
        standardFlowEnabled: true
        implicitFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        publicClient: true
        frontchannelLogout: false
        protocol: openid-connect
        attributes:
          realm_client: "false"
          client.use.lightweight.access.token.enabled: "true"
          post.logout.redirect.uris: +
          pkce.code.challenge.method: S256
        authenticationFlowBindingOverrides: {}
        fullScopeAllowed: true
        nodeReRegistrationTimeout: 0
        protocolMappers:
          - id: 821f5a20-4609-450d-8f15-d959cc53b68a
            name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: locale
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: locale
              jsonType.label: String
        defaultClientScopes:
          - web-origins
          - acr
          - profile
          - roles
          - basic
          - email
        optionalClientScopes:
          - address
          - phone
          - offline_access
          - organization
          - microprofile-jwt
    clientScopes:
      - id: 03b519b8-c030-497e-90a8-aaca365c6c70
        name: basic
        description: OpenID Connect scope for add all basic claims to the token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: 74c57b62-f254-4852-9652-5df5e1a5657e
            name: auth_time
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: AUTH_TIME
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: auth_time
              jsonType.label: long
          - id: 5a42f073-3267-4c5c-8d4f-f18246d3cbfb
            name: sub
            protocol: openid-connect
            protocolMapper: oidc-sub-mapper
            consentRequired: false
            config:
              access.token.claim: "true"
              introspection.token.claim: "true"
      - id: 1c0be2ee-b97a-49b3-865d-1fbad8e09adf
        name: service_account
        description: Specific scope for a client enabled for service accounts
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: 0bde4ffb-142c-4b2c-873b-c730bfea4dc8
            name: Client IP Address
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: clientAddress
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: clientAddress
              jsonType.label: String
          - id: b45135ce-22c6-4e8b-a30e-b3ec0e8551c9
            name: Client ID
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: client_id
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: client_id
              jsonType.label: String
          - id: 8c1c04bc-978f-42b0-85f7-3546e2f47e2f
            name: Client Host
            protocol: openid-connect
            protocolMapper: oidc-usersessionmodel-note-mapper
            consentRequired: false
            config:
              user.session.note: clientHost
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: clientHost
              jsonType.label: String
      - id: 9ab24b74-4224-4401-b350-5ee2a6718b29
        name: saml_organization
        description: Organization Membership
        protocol: saml
        attributes:
          display.on.consent.screen: "false"
        protocolMappers:
          - id: a1b9770d-9fc4-4e56-a839-3a24fa4a1dcc
            name: organization
            protocol: saml
            protocolMapper: saml-organization-membership-mapper
            consentRequired: false
            config: {}
      - id: 41ce1e66-fb84-434b-8683-6fb3bde3bb71
        name: email
        description: "OpenID Connect built-in scope: email"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          consent.screen.text: ${emailScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: 74c00ae2-da78-4ac7-abbb-30a71092332f
            name: email
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: email
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: email
              jsonType.label: String
          - id: 1369991a-d26a-4808-9d0a-8e80f21672d9
            name: email verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-property-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: emailVerified
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: email_verified
              jsonType.label: boolean
      - id: 7a74ce26-72cb-4152-ab99-5a39198052b7
        name: acr
        description: OpenID Connect scope for add acr (authentication context class
          reference) to the token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: 9eff2bf6-0237-4c41-9c9a-fa9d7dcc0885
            name: acr loa level
            protocol: openid-connect
            protocolMapper: oidc-acr-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              access.token.claim: "true"
              introspection.token.claim: "true"
      - id: 78345dec-c2aa-4c1a-a459-284551de0d40
        name: delete:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: 76f1e336-451a-41c0-b289-a511585d2f29
        name: phone
        description: "OpenID Connect built-in scope: phone"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          consent.screen.text: ${phoneScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: f7c76f89-ca8d-440a-94e6-172a965fe63f
            name: phone number
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: phoneNumber
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: phone_number
              jsonType.label: String
          - id: 3894531b-5e4a-45a7-a833-e6cca90877d5
            name: phone number verified
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: phoneNumberVerified
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: phone_number_verified
              jsonType.label: boolean
      - id: 69c1be0c-81e3-4ebe-b648-42520b015171
        name: read:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: 74bf6e21-da21-4ae5-9d59-c8b8e95c5da3
        name: update:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: 85d2e5bf-a0bf-452c-be56-55e5eae7f815
        name: address
        description: "OpenID Connect built-in scope: address"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          consent.screen.text: ${addressScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: f87b5f1f-c28b-4d93-8e24-507114bd66ca
            name: address
            protocol: openid-connect
            protocolMapper: oidc-address-mapper
            consentRequired: false
            config:
              user.attribute.formatted: formatted
              user.attribute.country: country
              introspection.token.claim: "true"
              user.attribute.postal_code: postal_code
              userinfo.token.claim: "true"
              user.attribute.street: street
              id.token.claim: "true"
              user.attribute.region: region
              access.token.claim: "true"
              user.attribute.locality: locality
      - id: 44322b18-7048-4853-b30a-c6c01da264c6
        name: web-origins
        description: OpenID Connect scope for add allowed web origins to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          consent.screen.text: ""
          display.on.consent.screen: "false"
        protocolMappers:
          - id: c159eb26-e69a-4f23-a992-5f6fa7a5ea5d
            name: allowed web origins
            protocol: openid-connect
            protocolMapper: oidc-allowed-origins-mapper
            consentRequired: false
            config:
              access.token.claim: "true"
              introspection.token.claim: "true"
      - id: 72ccc014-d082-45bb-8338-68e6674d2c9e
        name: microprofile-jwt
        description: Microprofile - JWT built-in scope
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "false"
        protocolMappers:
          - id: 6a073e82-ed8a-4b48-b501-c1006a8279f4
            name: upn
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: username
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: upn
              jsonType.label: String
          - id: e4088e27-9203-4d05-bbf4-67a92675c13c
            name: groups
            protocol: openid-connect
            protocolMapper: oidc-usermodel-realm-role-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              multivalued: "true"
              user.attribute: foo
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: groups
              jsonType.label: String
      - id: 7fbb135b-1c8a-49f7-b14d-23512275bffa
        name: role_list
        description: SAML role list
        protocol: saml
        attributes:
          consent.screen.text: ${samlRoleListScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: 69298341-2c1b-4c43-be11-ce1f116426a3
            name: role list
            protocol: saml
            protocolMapper: saml-role-list-mapper
            consentRequired: false
            config:
              single: "false"
              attribute.nameformat: Basic
              attribute.name: Role
      - id: e58a1acf-a370-4845-b58f-788f83437a93
        name: create:document
        description: ""
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          display.on.consent.screen: "true"
          gui.order: ""
          consent.screen.text: ""
      - id: a3a9d55d-39a0-43ac-a2b4-431bd5e56c1d
        name: profile
        description: "OpenID Connect built-in scope: profile"
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          consent.screen.text: ${profileScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: 418c9395-267c-4ebf-9333-d47d88616935
            name: zoneinfo
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: zoneinfo
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: zoneinfo
              jsonType.label: String
          - id: cfb18341-a7f0-49fb-8518-25fe7084302c
            name: website
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: website
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: website
              jsonType.label: String
          - id: 922e606c-7756-420b-83cc-8d4579f59148
            name: middle name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: middleName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: middle_name
              jsonType.label: String
          - id: 7d0aa69a-ab19-4f85-85b0-50dfdaed8327
            name: locale
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: locale
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: locale
              jsonType.label: String
          - id: 1606121d-cfa0-44f6-b306-f57d42e6799c
            name: username
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: username
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: preferred_username
              jsonType.label: String
          - id: 844a5e5c-efbd-4dae-8877-fad199119a4a
            name: profile
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: profile
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: profile
              jsonType.label: String
          - id: 5d60a300-5970-4305-b179-7d4804a98bca
            name: updated at
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: updatedAt
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: updated_at
              jsonType.label: long
          - id: 564faa47-e1db-45f1-b557-21e826511ebe
            name: given name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: firstName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: given_name
              jsonType.label: String
          - id: e0a1e365-1a56-4ac9-8e16-5519a051c9bc
            name: gender
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: gender
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: gender
              jsonType.label: String
          - id: fc5d6a39-ed28-4740-a2d3-a7741d361ab6
            name: birthdate
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: birthdate
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: birthdate
              jsonType.label: String
          - id: f475ebb4-66b0-40db-93c2-9317a18ecc89
            name: full name
            protocol: openid-connect
            protocolMapper: oidc-full-name-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              userinfo.token.claim: "true"
          - id: 846c1f98-e0de-49b3-ae22-30ca14b97344
            name: nickname
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: nickname
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: nickname
              jsonType.label: String
          - id: 5f5ef36c-d129-4c7b-ba3d-ead8a740243a
            name: family name
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: lastName
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: family_name
              jsonType.label: String
          - id: 5278413c-e867-4f1f-b611-2fc1aba47468
            name: picture
            protocol: openid-connect
            protocolMapper: oidc-usermodel-attribute-mapper
            consentRequired: false
            config:
              introspection.token.claim: "true"
              userinfo.token.claim: "true"
              user.attribute: picture
              id.token.claim: "true"
              access.token.claim: "true"
              claim.name: picture
              jsonType.label: String
      - id: 6fbe4ac1-f315-4ebd-a042-6c79aa37a01c
        name: offline_access
        description: "OpenID Connect built-in scope: offline_access"
        protocol: openid-connect
        attributes:
          consent.screen.text: ${offlineAccessScopeConsentText}
          display.on.consent.screen: "true"
      - id: dde18455-e1e0-4abe-8be1-e24b1d1229e7
        name: roles
        description: OpenID Connect scope for add user roles to the access token
        protocol: openid-connect
        attributes:
          include.in.token.scope: "false"
          consent.screen.text: ${rolesScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: 3964c602-bff8-45e6-af5b-19e9f32a48b2
            name: realm roles
            protocol: openid-connect
            protocolMapper: oidc-usermodel-realm-role-mapper
            consentRequired: false
            config:
              user.attribute: foo
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: realm_access.roles
              jsonType.label: String
              multivalued: "true"
          - id: 51a39b5e-abed-4162-8dde-2f0ec288f0d6
            name: audience resolve
            protocol: openid-connect
            protocolMapper: oidc-audience-resolve-mapper
            consentRequired: false
            config:
              access.token.claim: "true"
              introspection.token.claim: "true"
          - id: 513d806a-b077-4058-bb3a-d6ef9fb141f0
            name: client roles
            protocol: openid-connect
            protocolMapper: oidc-usermodel-client-role-mapper
            consentRequired: false
            config:
              user.attribute: foo
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: resource_access.${client_id}.roles
              jsonType.label: String
              multivalued: "true"
      - id: b630c096-eee3-478a-bad1-1b8ce5ea30b7
        name: organization
        description: Additional claims about the organization a subject belongs to
        protocol: openid-connect
        attributes:
          include.in.token.scope: "true"
          consent.screen.text: ${organizationScopeConsentText}
          display.on.consent.screen: "true"
        protocolMappers:
          - id: 097b412d-cb34-4fd1-9a5f-29b138243388
            name: organization
            protocol: openid-connect
            protocolMapper: oidc-organization-membership-mapper
            consentRequired: false
            config:
              id.token.claim: "true"
              introspection.token.claim: "true"
              access.token.claim: "true"
              claim.name: organization
              jsonType.label: String
              multivalued: "true"
    defaultDefaultClientScopes:
      - role_list
      - saml_organization
      - profile
      - email
      - roles
      - web-origins
      - acr
      - basic
    defaultOptionalClientScopes:
      - offline_access
      - address
      - phone
      - microprofile-jwt
      - organization
    browserSecurityHeaders:
      contentSecurityPolicyReportOnly: ""
      xContentTypeOptions: nosniff
      referrerPolicy: no-referrer
      xRobotsTag: none
      xFrameOptions: SAMEORIGIN
      contentSecurityPolicy: frame-src 'self'; frame-ancestors 'self'; object-src 'none';
      strictTransportSecurity: max-age=31536000; includeSubDomains
    smtpServer: {}
    eventsEnabled: false
    eventsListeners:
      - jboss-logging
    enabledEventTypes: []
    adminEventsEnabled: false
    adminEventsDetailsEnabled: false
    identityProviders: []
    identityProviderMappers: []
    components:
      org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy:
        - id: ded85681-d5d2-4178-8c27-58cd571d1c1d
          name: Trusted Hosts
          providerId: trusted-hosts
          subType: anonymous
          subComponents: {}
          config:
            host-sending-registration-request-must-match:
              - "true"
            client-uris-must-match:
              - "true"
        - id: 4efd84b3-aad2-473d-a80a-3e5511e9fa20
          name: Full Scope Disabled
          providerId: scope
          subType: anonymous
          subComponents: {}
          config: {}
        - id: d932c1c1-4bb4-42b0-818f-417d3add5b17
          name: Max Clients Limit
          providerId: max-clients
          subType: anonymous
          subComponents: {}
          config:
            max-clients:
              - "200"
        - id: 58445afc-12b5-48df-ae7b-51385b7ed49c
          name: Allowed Protocol Mapper Types
          providerId: allowed-protocol-mappers
          subType: authenticated
          subComponents: {}
          config:
            allowed-protocol-mapper-types:
              - oidc-address-mapper
              - oidc-usermodel-attribute-mapper
              - saml-user-attribute-mapper
              - oidc-full-name-mapper
              - oidc-usermodel-property-mapper
              - oidc-sha256-pairwise-sub-mapper
              - saml-role-list-mapper
              - saml-user-property-mapper
        - id: d60aa747-b940-4ec2-af73-8a9f2fbfa33b
          name: Allowed Protocol Mapper Types
          providerId: allowed-protocol-mappers
          subType: anonymous
          subComponents: {}
          config:
            allowed-protocol-mapper-types:
              - saml-user-attribute-mapper
              - saml-role-list-mapper
              - saml-user-property-mapper
              - oidc-usermodel-property-mapper
              - oidc-sha256-pairwise-sub-mapper
              - oidc-usermodel-attribute-mapper
              - oidc-full-name-mapper
              - oidc-address-mapper
        - id: d5c8521a-6936-4d72-ae8a-cc28b5121c6e
          name: Allowed Client Scopes
          providerId: allowed-client-templates
          subType: authenticated
          subComponents: {}
          config:
            allow-default-scopes:
              - "true"
        - id: c402ba76-f309-4c45-8268-9fbdc3963b68
          name: Consent Required
          providerId: consent-required
          subType: anonymous
          subComponents: {}
          config: {}
        - id: 8b6311a6-ef96-4322-a217-db9da44fad12
          name: Allowed Client Scopes
          providerId: allowed-client-templates
          subType: anonymous
          subComponents: {}
          config:
            allow-default-scopes:
              - "true"
      org.keycloak.keys.KeyProvider:
        - id: 228f8bbe-b283-48c0-a985-60cf17a7f0f0
          name: rsa-enc-generated
          providerId: rsa-enc-generated
          subComponents: {}
          config:
            priority:
              - "100"
            algorithm:
              - RSA-OAEP
        - id: 994ea941-26f8-4227-a136-8c056906a26f
          name: aes-generated
          providerId: aes-generated
          subComponents: {}
          config:
            priority:
              - "100"
        - id: f588cf4f-1bd1-4812-9888-20f47da992c6
          name: hmac-generated-hs512
          providerId: hmac-generated
          subComponents: {}
          config:
            priority:
              - "100"
            algorithm:
              - HS512
        - id: 0c41e358-2cc2-4f22-bb44-2303726bf8af
          name: rsa-generated
          providerId: rsa-generated
          subComponents: {}
          config:
            priority:
              - "100"
    internationalizationEnabled: false
    supportedLocales: []
    authenticationFlows:
      - id: 35630e68-0989-41dd-b93a-cf132d049075
        alias: Account verification options
        description: Method with which to verity the existing account
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-email-verification
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: true
            flowAlias: Verify Existing Account by Re-authentication
            userSetupAllowed: false
      - id: 028a0561-a3a6-4c64-9964-d16db9084f09
        alias: Browser - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-otp-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 6c3105de-ddeb-479d-be83-540f8b20c975
        alias: Browser - Conditional Organization
        description: Flow to determine if the organization identity-first login is to be used
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: organization
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 78d9478c-4e98-40ce-a909-2e6618ae16b0
        alias: Direct Grant - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: direct-grant-validate-otp
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 8c3196da-079b-4456-b44a-20f0256d25ff
        alias: First Broker Login - Conditional Organization
        description: Flow to determine if the authenticator that adds organization
          members is to be used
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: idp-add-organization-member
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: e28d133d-f9a2-4506-a075-33e2d3311906
        alias: First broker login - Conditional OTP
        description: Flow to determine if the OTP is required for the authentication
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-otp-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: fffa9665-2b83-4f91-8f0b-9b82c8df5e8b
        alias: Handle Existing Account
        description: Handle what to do if there is existing account with same
          email/username like authenticated identity provider
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-confirm-link
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: true
            flowAlias: Account verification options
            userSetupAllowed: false
      - id: 4779c597-f15d-47c7-9fa3-7b9394afd8da
        alias: Organization
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 10
            autheticatorFlow: true
            flowAlias: Browser - Conditional Organization
            userSetupAllowed: false
      - id: 93bf84da-377e-44ee-bc8c-341c1c2772a4
        alias: Reset - Conditional OTP
        description: Flow to determine if the OTP should be reset or not. Set to
          REQUIRED to force.
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: conditional-user-configured
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-otp
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 4c72a59e-7849-4513-a248-bc7b01ab2746
        alias: User creation or linking
        description: Flow for the existing/non-existing user alternatives
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticatorConfig: create unique user config
            authenticator: idp-create-user-if-unique
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: true
            flowAlias: Handle Existing Account
            userSetupAllowed: false
      - id: c923e011-bf3d-4175-bbdc-b651ee25e8c5
        alias: Verify Existing Account by Re-authentication
        description: Reauthentication of existing account
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: idp-username-password-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 20
            autheticatorFlow: true
            flowAlias: First broker login - Conditional OTP
            userSetupAllowed: false
      - id: 33792e31-8027-45e8-b399-46f34a500b2b
        alias: browser
        description: Browser based authentication
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: auth-cookie
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: auth-spnego
            authenticatorFlow: false
            requirement: DISABLED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: identity-provider-redirector
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 25
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 26
            autheticatorFlow: true
            flowAlias: Organization
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: ALTERNATIVE
            priority: 30
            autheticatorFlow: true
            flowAlias: forms
            userSetupAllowed: false
      - id: c9e830da-51e1-4762-b605-7e1ca5347971
        alias: clients
        description: Base authentication for clients
        providerId: client-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: client-secret
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-jwt
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-secret-jwt
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 30
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: client-x509
            authenticatorFlow: false
            requirement: ALTERNATIVE
            priority: 40
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 307cd023-688b-4e4d-8d48-e2e69ba407e0
        alias: direct grant
        description: OpenID Connect Resource Owner Grant
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: direct-grant-validate-username
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: direct-grant-validate-password
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 30
            autheticatorFlow: true
            flowAlias: Direct Grant - Conditional OTP
            userSetupAllowed: false
      - id: dff936e7-8058-4173-9472-d5733dfb8c59
        alias: docker auth
        description: Used by Docker clients to authenticate against the IDP
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: docker-http-basic-authenticator
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 7296d48f-184d-4244-9cf4-49feaea6d5a6
        alias: first broker login
        description: Actions taken after first broker login with identity provider
          account, which is not yet linked to any Keycloak account
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticatorConfig: review profile config
            authenticator: idp-review-profile
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: true
            flowAlias: User creation or linking
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 50
            autheticatorFlow: true
            flowAlias: First Broker Login - Conditional Organization
            userSetupAllowed: false
      - id: 232b3a0f-a779-4906-8d78-706f31c381b3
        alias: forms
        description: Username, password, otp and other auth forms.
        providerId: basic-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: auth-username-password-form
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 20
            autheticatorFlow: true
            flowAlias: Browser - Conditional OTP
            userSetupAllowed: false
      - id: 7aa10d09-69d1-4c8b-ac27-ea135058e7bf
        alias: registration
        description: Registration flow
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: registration-page-form
            authenticatorFlow: true
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: true
            flowAlias: registration form
            userSetupAllowed: false
      - id: bfb2e0f1-cf1e-4c35-93fb-5d182fdf27bc
        alias: registration form
        description: Registration form
        providerId: form-flow
        topLevel: false
        builtIn: true
        authenticationExecutions:
          - authenticator: registration-user-creation
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-password-action
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 50
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-recaptcha-action
            authenticatorFlow: false
            requirement: DISABLED
            priority: 60
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: registration-terms-and-conditions
            authenticatorFlow: false
            requirement: DISABLED
            priority: 70
            autheticatorFlow: false
            userSetupAllowed: false
      - id: 339bbd33-9208-4c14-96a7-8818707fb4ee
        alias: reset credentials
        description: Reset credentials for a user if they forgot their password or something
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: reset-credentials-choose-user
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-credential-email
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 20
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticator: reset-password
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 30
            autheticatorFlow: false
            userSetupAllowed: false
          - authenticatorFlow: true
            requirement: CONDITIONAL
            priority: 40
            autheticatorFlow: true
            flowAlias: Reset - Conditional OTP
            userSetupAllowed: false
      - id: a00f2c48-493b-47af-b55d-9e2f5ea89e28
        alias: saml ecp
        description: SAML ECP Profile Authentication Flow
        providerId: basic-flow
        topLevel: true
        builtIn: true
        authenticationExecutions:
          - authenticator: http-basic-authenticator
            authenticatorFlow: false
            requirement: REQUIRED
            priority: 10
            autheticatorFlow: false
            userSetupAllowed: false
    authenticatorConfig:
      - id: 2f0ff711-16ce-4016-a86a-00536537e8ce
        alias: create unique user config
        config:
          require.password.update.after.registration: "false"
      - id: 20bc5a26-14e8-40b6-93ec-b677ced6f0d6
        alias: review profile config
        config:
          update.profile.on.first.login: missing
    requiredActions:
      - alias: CONFIGURE_TOTP
        name: Configure OTP
        providerId: CONFIGURE_TOTP
        enabled: true
        defaultAction: false
        priority: 10
        config: {}
      - alias: TERMS_AND_CONDITIONS
        name: Terms and Conditions
        providerId: TERMS_AND_CONDITIONS
        enabled: false
        defaultAction: false
        priority: 20
        config: {}
      - alias: UPDATE_PASSWORD
        name: Update Password
        providerId: UPDATE_PASSWORD
        enabled: true
        defaultAction: false
        priority: 30
        config: {}
      - alias: UPDATE_PROFILE
        name: Update Profile
        providerId: UPDATE_PROFILE
        enabled: true
        defaultAction: false
        priority: 40
        config: {}
      - alias: VERIFY_EMAIL
        name: Verify Email
        providerId: VERIFY_EMAIL
        enabled: true
        defaultAction: false
        priority: 50
        config: {}
      - alias: delete_account
        name: Delete Account
        providerId: delete_account
        enabled: false
        defaultAction: false
        priority: 60
        config: {}
      - alias: webauthn-register
        name: Webauthn Register
        providerId: webauthn-register
        enabled: true
        defaultAction: false
        priority: 70
        config: {}
      - alias: webauthn-register-passwordless
        name: Webauthn Register Passwordless
        providerId: webauthn-register-passwordless
        enabled: true
        defaultAction: false
        priority: 80
        config: {}
      - alias: VERIFY_PROFILE
        name: Verify Profile
        providerId: VERIFY_PROFILE
        enabled: true
        defaultAction: false
        priority: 90
        config: {}
      - alias: delete_credential
        name: Delete Credential
        providerId: delete_credential
        enabled: true
        defaultAction: false
        priority: 100
        config: {}
      - alias: update_user_locale
        name: Update User Locale
        providerId: update_user_locale
        enabled: true
        defaultAction: false
        priority: 1000
        config: {}
    browserFlow: browser
    registrationFlow: registration
    directGrantFlow: direct grant
    resetCredentialsFlow: reset credentials
    clientAuthenticationFlow: clients
    dockerAuthenticationFlow: docker auth
    firstBrokerLoginFlow: first broker login
    attributes:
      cibaBackchannelTokenDeliveryMode: poll
      cibaAuthRequestedUserHint: login_hint
      oauth2DevicePollingInterval: "5"
      clientOfflineSessionMaxLifespan: "0"
      clientSessionIdleTimeout: "0"
      clientOfflineSessionIdleTimeout: "0"
      cibaInterval: "5"
      realmReusableOtpCode: "false"
      cibaExpiresIn: "120"
      oauth2DeviceCodeLifespan: "600"
      saml.signature.algorithm: ""
      parRequestUriLifespan: "60"
      clientSessionMaxLifespan: "0"
      frontendUrl: ""
      acr.loa.map: "{}"
    keycloakVersion: 26.2.5.redhat-00001
    userManagedAccessAllowed: false
    organizationsEnabled: false
    verifiableCredentialsEnabled: false
    adminPermissionsEnabled: false
    clientProfiles:
      profiles: []
    clientPolicies:
      policies: []
