{
  "username": "{{ keycloak_user_username }}",
  "firstName": "Admin",
  "lastName": "Tester",
  "email": "{{ keycloak_user_username }}@demo.com",
  "emailVerified": "true",
  "enabled": "true",
  "credentials": [
    {
      "type": "password",
      "userLabel": "My Password",
      "value": "{{ keycloak_user_password }}",
      "temporary": "false"
    }
  ],
    "totp": false,
    "disableableCredentialTypes": [],
    "requiredActions": [],
    "notBefore": 0,
    "access": {
        "manageGroupMembership": true,
        "view": true,
        "mapRoles": true,
        "impersonate": true,
        "manage": true
    }

}