kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ rhdh_sa_name }}-view
subjects:
  - kind: ServiceAccount
    name: {{ rhdh_sa_name }}
    namespace: {{ rhdh_project }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view