apiVersion: v1
kind: Secret
metadata:
  name: {{ rhdh_secret_name }}
type: Opaque
stringData:
  KEYCLOAK_BASE_URL: https://keycloak-{{ keycloak_project }}.{{ route_subdomain }}
  KEYCLOAK_REALM: {{ rhdh_keycloak_realm }}
  KEYCLOAK_LOGIN_REALM: {{ rhdh_keycloak_realm }}
  KEYCLOAK_CLIENT_ID: {{ rhdh_keycloak_client_id }}
  KEYCLOAK_CLIENT_SECRET: {{ rhdh_keycloak_client_secret }}
  SESSION_SECRET: topSecretSecret
  NODE_TLS_REJECT_UNAUTHORIZED: "0"