kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ rhdh_cm_name }}
data:
  app-config-rhdh.yaml: |
    app:
      baseUrl: https://backstage-developer-hub-{{ rhdh_ns }}.{{ route_subdomain }}
    backend:
      auth:
        keys:
          - secret: "${BACKEND_SECRET}"
      baseUrl: https://backstage-developer-hub-{{ rhdh_ns }}.{{ route_subdomain }}
      cors:
        credentials: true
        methods:
        - GET
        - POST
        - PUT
        - DELETE
        origin: https://backstage-developer-hub-{{ rhdh_ns }}.{{ route_subdomain }}
    auth:
      environment: production
      session:
        secret: ${SESSION_SECRET}
      providers:
        oidc:
          production:
            metadataUrl: ${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/.well-known/openid-configuration
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            prompt: auto
            signIn:
              resolvers:
                - resolver: preferredUsernameMatchingUserEntityName 
    signInPage: oidc
    catalog:
      providers:
        keycloakOrg:
          default:
            baseUrl: '${KEYCLOAK_BASE_URL}'
            clientId: '${KEYCLOAK_CLIENT_ID}'
            clientSecret: '${KEYCLOAK_CLIENT_SECRET}'
            loginRealm: '${KEYCLOAK_LOGIN_REALM}'
            realm: '${KEYCLOAK_REALM}'
            schedule:
              frequency:
                minutes: 1
              initialDelay:
                seconds: 15
              timeout:
                minutes: 1                        
    integrations:
      github:
      - host: github.com
        token: {{ github_pat }}
    argocd:
      appLocatorMethods:
        - type: config
          instances:
            - name: default
              url: https://openshift-gitops-server-openshift-gitops.{{ route_subdomain }}
              username: admin
              password: {{ arcocd_admin_password }}                  
    kubernetes:
      clusterLocatorMethods:
      - clusters:
        - authProvider: serviceAccount
          name: {{ rhdh_sa_name }}
          serviceAccountToken: {{ rhdh_sa_token }}
          skipTLSVerify: true
          url: {{ server }}
        type: config
      customResources:
      - apiVersion: v1beta1
        group: tekton.dev
        plural: pipelineruns
      - apiVersion: v1beta1
        group: tekton.dev
        plural: taskruns
      - apiVersion: v1
        group: route.openshift.io
        plural: routes
      serviceLocatorMethod:
        type: multiTenant
    permission:
      enabled: false
    enabled:
      argocd: true
      github: true
      githubOrg: false
      keycloak: true
      kubernetes: true
      permission: false
      techdocs: false

             