---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: '{{ minio_project }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:RELEASE.2020-12-29T23-29-29Z
        args:
        - server
        - /tmp
        env:
        - name: MINIO_ACCESS_KEY
          value: "{{ minio_key }}"
        - name: MINIO_SECRET_KEY
          value: "{{ minio_secret }}"
        - name: MINIO_REGION_NAME
          value: "us-west-rack2"
        ports:
        - containerPort: 9000
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: '{{ minio_project }}'
spec:
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: minio
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: minio
  namespace: '{{ minio_project }}'
spec:
  port:
    targetPort: 9000
  to:
    kind: Service
    name: minio
    weight: 100
  wildcardPolicy: None
